In [17]:
## This script contains automated solutions to the schedule hours adherence and Leave adherence

##this is an python automated system that reads the input data from sharepoint and projects pivots and charts using pandas liberary

In [10]:
##1. Shift hours Report

import pandas as pd

df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\ADS Login Managment System.xlsx')
df.head()

,User Alias,TM Alias,Workflow,Week,Date,Punch IN,Expected Punch OUT,Actual Punch OUT,Log IN hours,Shift Hours,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,arvinmvn,thenmozs,AWS Verification,16.0,2021-04-21,06:55:00,15:55:00,16:33:00,09:38:00,9.633333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cliffpal,thenmozs,AWS Verification,16.0,2021-04-21,06:58:00,15:58:00,16:42:00,09:44:00,9.733333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,dennypau,thenmozs,AWS Verification,16.0,2021-04-21,06:58:00,15:58:00,16:42:00,09:44:00,9.733333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AWS Verification
3,devarapr,thenmozs,AWS Verification,16.0,2021-04-21,06:58:00,15:58:00,16:42:00,09:44:00,9.733333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Core Transcription
4,djaga,thenmozs,AWS Verification,16.0,2021-04-21,06:58:00,15:58:00,16:42:00,09:44:00,9.733333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
##filter the weeks
df = df[df['Week'].between(13,16)]

##view pivot
table = pd.pivot_table(df, values=['Shift Hours'], index=['User Alias'], columns= ['Date'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
## display all options
#pd.set_option('display.max_rows', df.shape[0]+1)
table.round(2)

           Shift Hours
Date        2021-04-21
User Alias
arvinmvn          9.63
cliffpal          9.73
dennypau          9.73
devarapr          9.73
djaga             9.73
gopinana          9.73
jhus              9.73
keerdoss          9.73
mhaaami           9.73
nvemn             9.73

In [ ]:
##for bulk email 
import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Velocity Verifiction Report'


    mail.To = str(table.index[i])+'@amazon.com' 
    mail.CC = 'thenmozs@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find your processed hours for the week.</h3>
                   {}'''.format(table[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [12]:
## 2. Leave Counts Report

df_leave= pd.read_excel(r'C:\Users\arvinmvn\Desktop\ADS Login Managment System.xlsx',sheet_name='Leave Sheet')
df_leave.head()

,User Alias,Manager Alias,Workflow,2021-04-21 00:00:00,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,2021-04-25 00:00:00,2021-04-26 00:00:00,2021-04-27 00:00:00,...,2021-08-01 00:00:00,2021-08-02 00:00:00,2021-08-03 00:00:00,2021-08-04 00:00:00,2021-08-05 00:00:00,2021-08-06 00:00:00,2021-08-07 00:00:00,2021-08-08 00:00:00,2021-08-09 00:00:00,2021-08-10 00:00:00
0,arvinmvn,thenmozs,AWS Verification,Present,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cliffpal,thenmozs,AWS Verification,Present,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,dennypau,thenmozs,AWS Verification,Present,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,devarapr,thenmozs,AWS Verification,Present,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,djaga,thenmozs,AWS Verification,Present,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#df_leave_transpose=df_leave.transpose()
#df_leave_transpose.head()

In [13]:
df_leave.insert(3, "PL","")
df_leave.insert(4, "UPL","")
df_leave.insert(5, "Present","")
df_leave.head()

,User Alias,Manager Alias,Workflow,PL,UPL,Present,2021-04-21 00:00:00,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,...,2021-08-01 00:00:00,2021-08-02 00:00:00,2021-08-03 00:00:00,2021-08-04 00:00:00,2021-08-05 00:00:00,2021-08-06 00:00:00,2021-08-07 00:00:00,2021-08-08 00:00:00,2021-08-09 00:00:00,2021-08-10 00:00:00
0,arvinmvn,thenmozs,AWS Verification,,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cliffpal,thenmozs,AWS Verification,,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,dennypau,thenmozs,AWS Verification,,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,devarapr,thenmozs,AWS Verification,,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,djaga,thenmozs,AWS Verification,,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
for i in range(0,len(df_leave)):
    df_leave['PL'].values[i]= count(df_leave

In [15]:
df_leave.head()

,User Alias,Manager Alias,Workflow,PL,UPL,Present,2021-04-21 00:00:00,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,...,2021-08-01 00:00:00,2021-08-02 00:00:00,2021-08-03 00:00:00,2021-08-04 00:00:00,2021-08-05 00:00:00,2021-08-06 00:00:00,2021-08-07 00:00:00,2021-08-08 00:00:00,2021-08-09 00:00:00,2021-08-10 00:00:00
0,arvinmvn,thenmozs,AWS Verification,1,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cliffpal,thenmozs,AWS Verification,1,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,dennypau,thenmozs,AWS Verification,1,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,devarapr,thenmozs,AWS Verification,1,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,djaga,thenmozs,AWS Verification,1,,,Present,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN