In [1]:
## The data contains an extensive analyis of the Schedule Manager Report

In [1]:
## Import the liberaries
import pandas as pd
import numpy as np
import sqlite3 as sql
import datetime as dt

In [2]:
## Merge the available CSV files

#df1= pd.read_csv(r'C:\Users\arvinmvn\Downloads\Week 21.csv')  
df2= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 22.csv')
df3= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 23.csv')
df4= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 24.csv')
df5= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 25.csv')
df6= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 26.csv')
df7= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 27.csv')

all_df_list = [df2,df3,df4,df5,df6,df7]
df = pd.concat(all_df_list)

df.head()

,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,ADS Hire Date,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,2021-06-05 00:00:00,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,Y,2020-08-03 00:00:00,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,2021-06-05 00:00:00,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,Y,2018-07-16 00:00:00,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2021-06-05 00:00:00,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,Y,2020-12-14 00:00:00,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,2021-06-05 00:00:00,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,Y,2020-12-14 00:00:00,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,2021-06-05 00:00:00,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,Y,2020-09-21 00:00:00,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [3]:
#Rest all indexes,to optimize iterations

df.reset_index(inplace=True)
df.head()

,index,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,2021-06-05 00:00:00,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,Y,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,2021-06-05 00:00:00,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,Y,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,2021-06-05 00:00:00,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,Y,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,2021-06-05 00:00:00,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,Y,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,2021-06-05 00:00:00,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,Y,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [4]:
##Object types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68084 entries, 0 to 68083
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   index                            68084 non-null  int64
 1   Calendar Date                    68084 non-null  object
 2   Site                             68084 non-null  object
 3   Cost centre                      68084 non-null  int64
 4   DA Alias                         68084 non-null  object
 5   Level 1 Manager                  68084 non-null  object
 6   Level 2 Manager                  67915 non-null  object
 7   Levle 3 Manager                  67420 non-null  object
 8   Level 4 Manager                  67420 non-null  object
 9   Is DA Employed                   68084 non-null  object
 10  ADS Hire Date                    68084 non-null  object
 11  Termination Date                 68 non-null     object
 12  Has entry in Schedule Manager    68084 non-null  object
 13  Has Schedule                     68084 non-null  object
 14  Schedule Login Time              68084 non-null  object
 15  Logged in to ADSC                68084 non-null  object
 16  First login time                 59605 non-null  object
 17  Processed utterances on Mercury  68084 non-null  object
 18  Schedule hours w/o OT            68084 non-null  float64
 19  Schedule hours OT                68084 non-null  int64
 20  Total Schedule Hours             68084 non-null  float64
 21  Paid hours w/o OT                68084 non-null  float64
 22  Paid hours OT                    68084 non-null  int64
 23  Total Paid Hours                 68084 non-null  float64
 24  Staff hours w/o OT               68084 non-null  float64
 25  Staff hours OT                   68084 non-null  float64
 26  Total Staff Hours                68084 non-null  float64
 27  Paid Break - Regular Shift       68084 non-null  float64
 28  Paid Break for OT                68084 non-null  float64
 29  Total Paid Break                 68084 non-null  float64
 30  Unpaid break - Regular Shift     68084 non-null  float64
 31  Process Count                    68084 non-null  int64
 32  Is on Planned Leave              68084 non-null  float64
 33  Is on Unplanned leave            68054 non-null  float64
 34  Logged in hrs                    68084 non-null  float64
 35  SA Schedule Hours                68084 non-null  float64
 36  Schedule Non Adherence           68084 non-null  float64
 37  Calculated OT Hours              32773 non-null  float64
dtypes: float64(17), int64(5), object(16)
memory usage: 19.7+ MB

In [5]:
#show all columns
print(df.columns.tolist())

['index', 'Calendar Date', 'Site', 'Cost centre', 'DA Alias', 'Level 1 Manager', 'Level 2 Manager', 'Levle 3 Manager', 'Level 4 Manager', 'Is DA Employed', 'ADS Hire Date', 'Termination Date', 'Has entry in Schedule Manager', 'Has Schedule', 'Schedule Login Time', 'Logged in to ADSC', 'First login time', 'Processed utterances on Mercury', 'Schedule hours w/o OT', 'Schedule hours OT', 'Total Schedule Hours', 'Paid hours w/o OT', 'Paid hours OT', 'Total Paid Hours', 'Staff hours w/o OT', 'Staff hours OT', 'Total Staff Hours', 'Paid Break - Regular Shift', 'Paid Break for OT', 'Total Paid Break', 'Unpaid break - Regular Shift', 'Process Count', 'Is on Planned Leave', 'Is on Unplanned leave', 'Logged in hrs', 'SA Schedule Hours', 'Schedule Non Adherence', 'Calculated OT Hours']

In [6]:
## Add week, Schedule login timestamp and first login timestamp

df.insert(1, "Week","")
df.insert(2, "Schedule Login TimeStamp","")
df.insert(3, "First login time TimeStamp","")
df.insert(4, "Login Deficit","")
df.insert(5, "Late login or Not","")
df.head()

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,,,,,,2021-06-05 00:00:00,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,,,,,,2021-06-05 00:00:00,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,,,,,,2021-06-05 00:00:00,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,,,,,,2021-06-05 00:00:00,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,,,,,,2021-06-05 00:00:00,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [7]:
##iteration for date to week conversion

df['Calendar Date']=pd.to_datetime(df['Calendar Date'],format='%Y-%m-%d %H:%M:%S')
df['Calendar Date']


## Map corresponding week from date

for i in range(0,len(df)):
     df['Week'][i] = df['Calendar Date'][i].week
df.head()

<ipython-input-7-9aa2e29c80aa>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Week'][i] = df['Calendar Date'][i].week

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,,,,,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,,,,,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,,,,,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,,,,,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,,,,,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [8]:
## Week confirmation

df['Week'].unique()

array([22, 21, 23, 24, 25, 26, 27], dtype=object)

In [9]:
##Schedule Login datetime to timestamp format

df['Schedule Login Time']=pd.to_datetime(df['Schedule Login Time'],format='%Y-%m-%d %H:%M:%S')

for i in range(0,len(df)):
    df['Schedule Login TimeStamp'][i] = df['Schedule Login Time'][i].strftime("%H:%M:%S")
df.head()

<ipython-input-9-7a8777cf6d76>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Schedule Login TimeStamp'][i] = df['Schedule Login Time'][i].strftime("%H:%M:%S")

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,,,,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,,,,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,,,,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,,,,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,,,,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [10]:
##First Login contains null values, to handle the missing data we shall use the value of the login time
## the login deficit calculation for this will be 0, therefore it will not impede our result calculation
# for the count of late logins
df['First login time'] = df['First login time'].fillna(df['Schedule Login Time'])

In [11]:
##First Login datetime to timestamp format

df['First login time']=pd.to_datetime(df['First login time'],format='%Y-%m-%d %H:%M:%S')

for i in range(0,len(df)):
    df['First login time TimeStamp'][i] = df['First login time'][i].strftime("%H:%M:%S")
df.head()

<ipython-input-11-221747d0427f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['First login time TimeStamp'][i] = df['First login time'][i].strftime("%H:%M:%S")

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,,,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,,,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,,,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,,,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,,,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [12]:
##Login Deficit calculation

for i in range(len(df)):
            sh=  str(df['Schedule Login TimeStamp'].values[i])
            sv=  str(df['First login time TimeStamp'].values[i])
            h,m,s = sh.split(':' or '.')
            p,r,b = sv.split(':' or '.')
            df['Login Deficit'].values[i]= float(dt.timedelta(hours=int(p),minutes=int(r),seconds=float(b)).total_seconds()/60)- float(dt.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds()/60)


df.head()

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,0.583333,,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [13]:
##Late login or not

for i in range(0,len(df)):
    if df['Login Deficit'][i] > 3:
        df['Late login or Not'][i]='Late Login'
    else:
        df['Late login or Not'][i]='Not Late Login'
df.head()

<ipython-input-13-0eb2425db1de>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Late login or Not'][i]='Not Late Login'
<ipython-input-13-0eb2425db1de>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Late login or Not'][i]='Late Login'

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,0.583333,Not Late Login,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Not Late Login,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Not Late Login,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [14]:
##calculate updated lost hours

## insert Schedule_hours_updated column

df.insert(39, "Lost Hours","")
df.head()

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Lost Hours,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,0.583333,Not Late Login,2021-06-05,HYD,5140,aapramzn,...,1.0,0.0,459,0.0,0.0,,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Not Late Login,2021-06-05,HYD,5140,afeefr,...,1.0,0.0,5,0.0,0.0,,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,1.0,0.0,415,0.0,0.0,,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,1.0,0.0,33,0.0,0.0,,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Not Late Login,2021-06-05,HYD,5140,aleshwa,...,1.0,0.0,0,0.0,0.0,,8.9850,8.0,0.0000,NaN

In [15]:
##for planned leaves###
                      
##Regulation for planned and unplanned leaves

for i in range(0,len(df)):
    
    ##for planned leaves###
    
## if planned leave= 0, then SA scheduled hours = 8.0
    
    if df['Is on Planned Leave'][i]== 1 or df['Is on Unplanned leave'][i]== 1:
         df['SA Schedule Hours'][i] = 0  
            
## if planned leave= 0.5, then SA scheduled hours = 4.0  

    elif df['Is on Planned Leave'][i]== 0.5 or df['Is on Unplanned leave'][i]== 0.5:
        df['SA Schedule Hours'][i] = 4.0
        
## if planned leave= 1.0, then SA scheduled hours = 0.0 

    elif df['Is on Planned Leave'][i]== 0 and df['Is on Unplanned leave'][i]== 0:
        df['SA Schedule Hours'][i] = df['SA Schedule Hours'][i]
    else:
        df['SA Schedule Hours'][i] = 0
df.head()

<ipython-input-15-ec99888389ac>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = df['SA Schedule Hours'][i]
<ipython-input-15-ec99888389ac>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 0
<ipython-input-15-ec99888389ac>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 4.0
<ipython-input-15-ec99888389ac>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 0

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Lost Hours,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,0.583333,Not Late Login,2021-06-05,HYD,5140,aapramzn,...,1.0,0.0,459,0.0,0.0,,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Not Late Login,2021-06-05,HYD,5140,afeefr,...,1.0,0.0,5,0.0,0.0,,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,1.0,0.0,415,0.0,0.0,,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,1.0,0.0,33,0.0,0.0,,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Not Late Login,2021-06-05,HYD,5140,aleshwa,...,1.0,0.0,0,0.0,0.0,,8.9850,8.0,0.0000,NaN

In [16]:
## Rename the title, so that we can perform further analysis in SQL code

##Rename the columns

df_SQL = df.rename(columns = {'Calendar Date': 'CalendarDate',
                          'Cost centre': 'Costcentre',
                           'Schedule Login TimeStamp' :'ScheduleLoginTimeStamp',
                             'First login time TimeStamp':'FirstlogintimeTimeStamp',
                              'Login Deficit':'LoginDeficit',
                              'Late login or Not':'LateloginorNot',
                          'DA Alias': 'DAAlias',
                           'Level 1 Manager': 'Level1Manager',
                          'Level 2 Manager': 'Level2Manager',
                          'Levle 3 Manager': 'Level3Manager',
                          'Level 4 Manager': 'Level4Manager',
                           'Is DA Employed': 'IsDAEmployed',
                         'ADS Hire Date': 'ADSHireDate',
                          'Termination Date': 'TerminationDate',
                          'Has entry in Schedule Manager': 'HasentryinScheduleManager',
                           'Has Schedule': 'HasSchedule',
                          'Schedule Login Time': 'ScheduleLoginTime',
                          'Cost centre': 'Costcentre',
                          'First login time': 'Firstlogintime',
                           'Processed utterances on Mercury': 'ProcessedutterancesonMercury',
                          'Schedule hours w/o OT': 'Schedulehoursw/oOT',
                          'Schedule hours OT': 'SchedulehoursOT',
                          'Scheduled to work': 'Scheduledtowork',
                           'Total Schedule Hours': 'TotalScheduleHours',
                          'Paid hours w/o OT': 'Paidhoursw/oOT',
                          'Paid hours OT': 'PaidhoursOT',
                          'Total Paid Hours': 'TotalPaidHours',
                           'DA Alias': 'DAAlias',
                         'Calendar Date': 'CalendarDate',
                          'Staff hours w/o OT': 'Staffhoursw/oOT',
                          'Staff hours OT': 'StaffhoursOT',
                           'Total Staff Hours': 'TotalStaffHours',
                          'Paid Break - Regular Shift': 'PaidBreak-RegularShift',
                          'Paid Break for OT': 'PaidBreakforOT',
                          'Total Paid Break': 'TotalPaidBreak',
                           'Unpaid break - Regular Shift': 'Unpaidbreak-RegularShift',
                         'Process Count': 'ProcessCount',
                         'Is on Planned Leave': 'IsonPlannedLeave',
                         'Is on Unplanned leave': 'IsonUnplannedleave',
                         'Logged in hrs': 'Loggedinhrs',
                         'Schedule hours for SA': 'SchedulehoursforSA',
                         'Schedule Non Adherence': 'ScheduleNonAdherence',
                         'Lost Hours': 'LostHours',
                         'SA Schedule Hours': 'SAScheduleHours',
                         'Calculated OT Hours': 'CalculatedOTHours',}, inplace = False)
df_SQL.head()

,index,Week,ScheduleLoginTimeStamp,FirstlogintimeTimeStamp,LoginDeficit,LateloginorNot,CalendarDate,Site,Costcentre,DAAlias,...,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,LostHours,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours
0,0,22,09:30:00,09:30:35,0.583333,Not Late Login,2021-06-05,HYD,5140,aapramzn,...,1.0,0.0,459,0.0,0.0,,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Not Late Login,2021-06-05,HYD,5140,afeefr,...,1.0,0.0,5,0.0,0.0,,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,1.0,0.0,415,0.0,0.0,,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,1.0,0.0,33,0.0,0.0,,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Not Late Login,2021-06-05,HYD,5140,aleshwa,...,1.0,0.0,0,0.0,0.0,,8.9850,8.0,0.0000,NaN

In [17]:
## convert result file derived from python into a csv and remap it as a DB.

# convert to csv (for master file)
df_SQL.to_csv(r'C:\Users\arvinmvn\desktop\ADS_SM_SQL.csv')

In [21]:
## HPL Calculations

# adherence % =  1- (lost hours/scheduled hours)

#count of leaves count(if late logins)

##Let's use SQL for this

In [18]:
## map Path lib

from pathlib import Path
Path('ads_sm.db').touch()

In [19]:
## connect to local

conn = sql.connect('ads_sm.db')
c = conn.cursor()

In [20]:

df = pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS_SM_SQL.csv')
df.to_sql('Schedule_Manager', conn, if_exists='append', index=False)
df.head()

C:\Users\arvinmvn\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\arvinmvn\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

,Unnamed: 0,index,Week,ScheduleLoginTimeStamp,FirstlogintimeTimeStamp,LoginDeficit,LateloginorNot,CalendarDate,Site,Costcentre,...,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,LostHours,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours
0,0,0,22,09:30:00,09:30:35,0.583333,Not Late Login,2021-06-05 00:00:00,HYD,5140,...,1.0,0.0,459,0.0,0.0,NaN,11.5978,8.0,0.0000,NaN
1,1,1,22,01:30:00,01:30:10,0.166667,Not Late Login,2021-06-05 00:00:00,HYD,5140,...,1.0,0.0,5,0.0,0.0,NaN,9.1061,8.0,0.0000,NaN
2,2,2,22,04:30:00,04:41:57,11.950000,Late Login,2021-06-05 00:00:00,HYD,5140,...,1.0,0.0,415,0.0,0.0,NaN,9.2331,8.0,0.0000,NaN
3,3,3,22,04:30:00,04:35:52,5.866667,Late Login,2021-06-05 00:00:00,HYD,5140,...,1.0,0.0,33,0.0,0.0,NaN,8.9097,8.0,0.0747,NaN
4,4,4,22,09:30:00,09:31:05,1.083333,Not Late Login,2021-06-05 00:00:00,HYD,5140,...,1.0,0.0,0,0.0,0.0,NaN,8.9850,8.0,0.0000,NaN

In [21]:
## WoW Site level comparision

sql='''
select week,site,
round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) as shift_adherence from Schedule_Manager
where site = 'MAA'
group by week,site
order by week asc

''';

    
df = pd.read_sql_query(sql,conn)
df.head(20)

   Week Site  shift_adherence
0    21  MAA            98.87
1    22  MAA            98.81
2    23  MAA            99.10
3    24  MAA            99.53
4    25  MAA            99.49
5    26  MAA            99.54
6    27  MAA            99.63

In [23]:
##Manager level split MAA/HYD Week wise splt for the Week :- For immediate view on TM performance

sql='''
select week,site,Level4Manager as SiteLead,Level3Manager as SrOM,Level2Manager as OM,Level1Manager as TM,round(sum(ScheduleNonAdherence),2) as ScheduleNonAdherence,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) as shift_adherence,
sum(ProcessCount) as Throughout,sum(IsonUnplannedleave) as UnplannedLeave,
sum(IsonPlannedLeave) as PlannnedLeave from Schedule_Manager
where Level1Manager ='dmaniva' and week=27
group by week,Level1manager
order by week asc

''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

,Week,Site,SiteLead,SrOM,OM,TM,ScheduleNonAdherence,schedulehours,shift_adherence,Throughout,UnplannedLeave,PlannnedLeave
0,27,MAA,mnagal,radhikac,rbbashee,dmaniva,10.36,1210.5,99.14,48940,5.5,2.0

In [21]:
df_sql_result.to_csv(r'C:\Users\arvinmvn\desktop\sqresult.csv')

In [24]:
##Manager level split MAA/HYD Week wise splt for the Week :- For dashboard

sql='''
select week,site,Level4Manager as SiteLead,
Level3Manager as SrOM,Level2Manager as OM,
Level1Manager as TM,
round(sum(ScheduleNonAdherence),2)as ScheduleNonAdhere,
(SELECT COUNT(CASE WHEN LateloginorNot='Late Login' THEN 1 ELSE NULL END)
) as Latelogins
,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) as shift_adherence,
sum(ProcessCount) as Throughout,sum(IsonUnplannedleave) as UnplannedLeave,
sum(IsonPlannedLeave) as PlannnedLeave

from Schedule_Manager
where week = 27 and Level2manager='rbbashee'
group by week,Level1manager
order by week asc

''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

,Week,Site,SiteLead,SrOM,OM,TM,ScheduleNonAdhere,Latelogins,schedulehours,shift_adherence,Throughout,UnplannedLeave,PlannnedLeave
0,27,MAA,mnagal,radhikac,rbbashee,danijos,10.38,8,1024.0,98.99,59582,1.0,0.0
1,27,MAA,mnagal,radhikac,rbbashee,dmaniva,10.36,27,1210.5,99.14,48940,5.5,2.0
2,27,MAA,mnagal,radhikac,rbbashee,paramss,0.21,3,1124.0,99.98,68944,14.5,1.0
3,27,MAA,mnagal,radhikac,rbbashee,sarselv,0.15,12,1236.0,99.99,732,6.0,0.5
4,27,MAA,mnagal,radhikac,rbbashee,susriram,0.01,3,200.0,100.00,6978,5.0,0.0

In [26]:
##Manager level split MAA/HYD Week wise splt for the Week :- For immediate view on TM performance

sql='''

select level1manager as TM,count(LateloginorNot)as LateLogins
from Schedule_Manager
where LateloginorNot='Late Login'
group by level1manager


''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

          TM  LateLogins
0   abhirama         136
1    abhishk         149
2   abrsamue         135
3       ahja         111
4    aiswarv          32
..       ...         ...
95  venuthra         188
96    vgnram          57
97   vkkuchu         161
98  vpramani         160
99  vvelpula          82

[100 rows x 2 columns]