In [3]:
## The data contains an extensive analyis of the Schedule Manager Report

In [5]:
## Import the liberaries
import pandas as pd
import numpy as np
import sqlite3 as sql

In [6]:
## Merge the available CSV files

#df1= pd.read_csv(r'C:\Users\arvinmvn\Downloads\Week 21.csv')  
df2= pd.read_csv(r'C:\Users\arvinmvn\Downloads\Week 22.csv')
df3= pd.read_csv(r'C:\Users\arvinmvn\Downloads\Week 23.csv')
df4= pd.read_csv(r'C:\Users\arvinmvn\Downloads\Week 24.csv')
df5= pd.read_csv(r'C:\Users\arvinmvn\Downloads\Week 25.csv')
df6= pd.read_csv(r'C:\Users\arvinmvn\Downloads\Week 26.csv')

all_df_list = [df2,df3,df4,df5,df6]
df = pd.concat(all_df_list)

df.head()

,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,ADS Hire Date,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,2021-06-05 00:00:00,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,Y,2020-08-03 00:00:00,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,2021-06-05 00:00:00,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,Y,2018-07-16 00:00:00,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2021-06-05 00:00:00,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,Y,2020-12-14 00:00:00,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,2021-06-05 00:00:00,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,Y,2020-12-14 00:00:00,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,2021-06-05 00:00:00,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,Y,2020-09-21 00:00:00,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [7]:
#Rest all indexes,to optimize iterations

df.reset_index(inplace=True)
df.head()

,index,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,2021-06-05 00:00:00,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,Y,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,2021-06-05 00:00:00,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,Y,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,2021-06-05 00:00:00,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,Y,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,2021-06-05 00:00:00,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,Y,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,2021-06-05 00:00:00,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,Y,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [8]:
##Object types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57494 entries, 0 to 57493
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   index                            57494 non-null  int64
 1   Calendar Date                    57494 non-null  object
 2   Site                             57494 non-null  object
 3   Cost centre                      57494 non-null  int64
 4   DA Alias                         57494 non-null  object
 5   Level 1 Manager                  57494 non-null  object
 6   Level 2 Manager                  57355 non-null  object
 7   Levle 3 Manager                  56940 non-null  object
 8   Level 4 Manager                  56940 non-null  object
 9   Is DA Employed                   57494 non-null  object
 10  ADS Hire Date                    57494 non-null  object
 11  Termination Date                 47 non-null     object
 12  Has entry in Schedule Manager    57494 non-null  object
 13  Has Schedule                     57494 non-null  object
 14  Schedule Login Time              57494 non-null  object
 15  Logged in to ADSC                57494 non-null  object
 16  First login time                 50213 non-null  object
 17  Processed utterances on Mercury  57494 non-null  object
 18  Schedule hours w/o OT            57494 non-null  float64
 19  Schedule hours OT                57494 non-null  int64
 20  Total Schedule Hours             57494 non-null  float64
 21  Paid hours w/o OT                57494 non-null  float64
 22  Paid hours OT                    57494 non-null  int64
 23  Total Paid Hours                 57494 non-null  float64
 24  Staff hours w/o OT               57494 non-null  float64
 25  Staff hours OT                   57494 non-null  float64
 26  Total Staff Hours                57494 non-null  float64
 27  Paid Break - Regular Shift       57494 non-null  float64
 28  Paid Break for OT                57494 non-null  float64
 29  Total Paid Break                 57494 non-null  float64
 30  Unpaid break - Regular Shift     57494 non-null  float64
 31  Process Count                    57494 non-null  int64
 32  Is on Planned Leave              57494 non-null  float64
 33  Is on Unplanned leave            57464 non-null  float64
 34  Logged in hrs                    57494 non-null  float64
 35  SA Schedule Hours                57494 non-null  float64
 36  Schedule Non Adherence           57494 non-null  float64
 37  Calculated OT Hours              22183 non-null  float64
dtypes: float64(17), int64(5), object(16)
memory usage: 16.7+ MB

In [9]:
#show all columns
print(df.columns.tolist())

['index', 'Calendar Date', 'Site', 'Cost centre', 'DA Alias', 'Level 1 Manager', 'Level 2 Manager', 'Levle 3 Manager', 'Level 4 Manager', 'Is DA Employed', 'ADS Hire Date', 'Termination Date', 'Has entry in Schedule Manager', 'Has Schedule', 'Schedule Login Time', 'Logged in to ADSC', 'First login time', 'Processed utterances on Mercury', 'Schedule hours w/o OT', 'Schedule hours OT', 'Total Schedule Hours', 'Paid hours w/o OT', 'Paid hours OT', 'Total Paid Hours', 'Staff hours w/o OT', 'Staff hours OT', 'Total Staff Hours', 'Paid Break - Regular Shift', 'Paid Break for OT', 'Total Paid Break', 'Unpaid break - Regular Shift', 'Process Count', 'Is on Planned Leave', 'Is on Unplanned leave', 'Logged in hrs', 'SA Schedule Hours', 'Schedule Non Adherence', 'Calculated OT Hours']

In [10]:
##Add week column
df.insert(1, "Week","")
df.head()

##iteration for date to week conversion

df['Calendar Date']=pd.to_datetime(df['Calendar Date'],format='%Y-%m-%d %H:%M:%S')
df['Calendar Date']


## Map corresponding week from date

for i in range(0,len(df)):
     df['Week'][i] = df['Calendar Date'][i].week
df.head()

<ipython-input-10-73cdb22b0f7f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Week'][i] = df['Calendar Date'][i].week

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [11]:
## Week confirmation

df['Week'].unique()

array([22, 21, 23, 24, 25, 26], dtype=object)

In [12]:
##calculate updated lost hours

## insert Schedule_hours_updated column

df.insert(39, "Lost Hours","")
df.head()

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN,
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN,
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN,
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN,
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN,

In [13]:
##Replace schdule SA hours from 8 to 9

for i in range(0,len(df)):
    if df['SA Schedule Hours'][i]==8:
        
        df['SA Schedule Hours'][i] = 9
    else:
        df['SA Schedule Hours'][i]=0
df.head()

<ipython-input-13-189a13fb0334>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 9
<ipython-input-13-189a13fb0334>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i]=0

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,

In [14]:
##for planned leaves###
                      
##Regulation for planned and unplanned leaves

for i in range(0,len(df)):
    
    ##for planned leaves###
    
## if planned leave= 0, then SA scheduled hours = 9
    
    if df['Is on Planned Leave'][i]== 1 or df['Is on Unplanned leave'][i]== 1:
         df['SA Schedule Hours'][i] = 0  
            
## if planned leave= 0.5, then SA scheduled hours = 4.5  

    elif df['Is on Planned Leave'][i]== 0.5 or df['Is on Unplanned leave'][i]== 0.5:
        df['SA Schedule Hours'][i] = 4.5
        
## if planned leave= 1.0, then SA scheduled hours = 0.0 

    elif df['Is on Planned Leave'][i]== 0 and df['Is on Unplanned leave'][i]== 0:
        df['SA Schedule Hours'][i] = df['SA Schedule Hours'][i]
    else:
        df['SA Schedule Hours'][i] = 0
df.head()

<ipython-input-14-67a55fd732a4>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = df['SA Schedule Hours'][i]
<ipython-input-14-67a55fd732a4>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 0
<ipython-input-14-67a55fd732a4>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 4.5
<ipython-input-14-67a55fd732a4>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 0

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,

In [15]:
## Replace NA with 0 for logged in hrs

df['Logged in hrs'].unique()

array([11.5978    ,  9.1061    ,  9.2331    , ...,  8.79638889,
        4.66527778,  4.50972222])

In [16]:
##Calculation of updated scheduled hours

for i in range(0,len(df)):
    
    df['Lost Hours'][i]= df['SA Schedule Hours'][i]- df['Logged in hrs'][i]

df.head()

<ipython-input-16-f1f8bee0ab01>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lost Hours'][i]= df['SA Schedule Hours'][i]- df['Logged in hrs'][i]

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,-2.5978
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,-0.1061
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,-0.2331
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,0.0903
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,0.015

In [17]:
##Replace -ve log in hours to 0

for i in range(0,len(df)):
    if df['Lost Hours'][i] < 0:
        df['Lost Hours'][i] = 0
    else:
        df['Lost Hours'][i]=df['Lost Hours'][i]
df.head()

<ipython-input-17-08fa586ddc83>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lost Hours'][i] = 0
<ipython-input-17-08fa586ddc83>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lost Hours'][i]=df['Lost Hours'][i]

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,0
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,0
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,0
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,0.0903
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,0.015

In [18]:
## Rename the title, so that we can perform further analysis in SQL code

##Rename the columns

df_SQL = df.rename(columns = {'Calendar Date': 'CalendarDate',
                          'Cost centre': 'Costcentre',
                          'DA Alias': 'DAAlias',
                           'Level 1 Manager': 'Level1Manager',
                          'Level 2 Manager': 'Level2Manager',
                          'Levle 3 Manager': 'Level3Manager',
                          'Level 4 Manager': 'Level4Manager',
                           'Is DA Employed': 'IsDAEmployed',
                         'ADS Hire Date': 'ADSHireDate',
                          'Termination Date': 'TerminationDate',
                          'Has entry in Schedule Manager': 'HasentryinScheduleManager',
                           'Has Schedule': 'HasSchedule',
                          'Schedule Login Time': 'ScheduleLoginTime',
                          'Cost centre': 'Costcentre',
                          'First login time': 'Firstlogintime',
                           'Processed utterances on Mercury': 'ProcessedutterancesonMercury',
                          'Schedule hours w/o OT': 'Schedulehoursw/oOT',
                          'Schedule hours OT': 'SchedulehoursOT',
                          'Scheduled to work': 'Scheduledtowork',
                           'Total Schedule Hours': 'TotalScheduleHours',
                          'Paid hours w/o OT': 'Paidhoursw/oOT',
                          'Paid hours OT': 'PaidhoursOT',
                          'Total Paid Hours': 'TotalPaidHours',
                           'DA Alias': 'DAAlias',
                         'Calendar Date': 'CalendarDate',
                          'Staff hours w/o OT': 'Staffhoursw/oOT',
                          'Staff hours OT': 'StaffhoursOT',
                           'Total Staff Hours': 'TotalStaffHours',
                          'Paid Break - Regular Shift': 'PaidBreak-RegularShift',
                          'Paid Break for OT': 'PaidBreakforOT',
                          'Total Paid Break': 'TotalPaidBreak',
                           'Unpaid break - Regular Shift': 'Unpaidbreak-RegularShift',
                         'Process Count': 'ProcessCount',
                         'Is on Planned Leave': 'IsonPlannedLeave',
                         'Is on Unplanned leave': 'IsonUnplannedleave',
                         'Logged in hrs': 'Loggedinhrs',
                         'Schedule hours for SA': 'SchedulehoursforSA',
                         'Schedule Non Adherence': 'ScheduleNonAdherence',
                         'Lost Hours': 'LostHours',
                         'SA Schedule Hours': 'SAScheduleHours',
                         'Calculated OT Hours': 'CalculatedOTHours',}, inplace = False)
df_SQL.head()

,index,Week,CalendarDate,Site,Costcentre,DAAlias,Level1Manager,Level2Manager,Level3Manager,Level4Manager,...,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours,LostHours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,0
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,0
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,0
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,0.0903
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,0.015

In [19]:
## convert result file derived from python into a csv and remap it as a DB.

# convert to csv (for master file)
df_SQL.to_csv(r'C:\Users\arvinmvn\desktop\ADS_SM_SQL.csv')

In [20]:
## HPL Calculations

# adherence % =  1- (lost hours/scheduled hours)

#Excess Break= 1- (Excess/Scheduled hours)

##Let's use SQL for this

In [21]:
## map Path lib

from pathlib import Path
Path('ads_sm.db').touch()

In [22]:
## connect to local

conn = sql.connect('ads_sm.db')
c = conn.cursor()

In [23]:

df = pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS_SM_SQL.csv')
df.to_sql('Schedule_Manager', conn, if_exists='append', index=False)
df.head()

C:\Users\arvinmvn\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\arvinmvn\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

,Unnamed: 0,index,Week,CalendarDate,Site,Costcentre,DAAlias,Level1Manager,Level2Manager,Level3Manager,...,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours,LostHours
0,0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,0.0000
1,1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,0.0000
2,2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,0.0000
3,3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,0.0903
4,4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,0.0150

In [24]:
## WoW Site level comparision

sql='''
select week,site,
round(100*(1 - (LostHours)/(SAScheduleHours)),2) as shift_adherence from Schedule_Manager
group by week,site
order by week asc

''';

    
df = pd.read_sql_query(sql,conn)
df.head(20)

    Week Site  shift_adherence
0     21  HYD            99.90
1     21  MAA            99.98
2     22  HYD           100.00
3     22  MAA            99.71
4     23  HYD           100.00
5     23  MAA            99.48
6     24  HYD            99.92
7     24  MAA            99.72
8     25  HYD            99.86
9     25  MAA              NaN
10    26  HYD            99.60
11    26  MAA              NaN

In [26]:
##Manager level split MAA

sql='''
select week,site,Level1Manager as TM,Level2Manager as OM,round(sum(losthours),2) as losthours,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(LostHours)/sum(SAScheduleHours)),2) as shift_adherence from Schedule_Manager
where site = 'MAA'
group by week,level1manager
order by week asc

''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

     Week Site        TM        OM  losthours  schedulehours  shift_adherence
0      21  MAA  abrsamue  sureshhv       0.10           36.0            99.73
1      21  MAA  ajaykant  sureshhv       0.07           36.0            99.80
2      21  MAA   ashalat   manvani       0.20           45.0            99.55
3      21  MAA   danieri   rvrajar       0.04           58.5            99.94
4      21  MAA   danijos  rbbashee       0.01           72.0            99.99
..    ...  ...       ...       ...        ...            ...              ...
294    26  MAA  susriram  rbbashee       0.89          513.0            99.83
295    26  MAA  suyambar   ilaraja      39.27          643.5            93.90
296    26  MAA    uvinod   manvani       4.15          904.5            99.54
297    26  MAA   veenkri   ilaraja       2.95          103.5            97.15
298    26  MAA  venuthra   manvani      10.77          927.0            98.84

[299 rows x 7 columns]

In [21]:
df_sql_result.to_csv(r'C:\Users\arvinmvn\desktop\sqresult.csv')

In [29]:
##Manager level WoW Performance

sql='''
select week,site,Level1Manager as TM,Level2Manager as OM,round(sum(losthours),2) as losthours,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(LostHours)/sum(SAScheduleHours)),2) as shift_adherence from Schedule_Manager
where site = 'MAA' and Level2Manager='rbbashee' and week=25
group by week,level1manager
order by week asc

''';

    
df = pd.read_sql_query(sql,conn)
df.head(100)

   Week Site        TM        OM  losthours  schedulehours  shift_adherence
0    25  MAA   danijos  rbbashee       2.23         1053.0            99.79
1    25  MAA   dmaniva  rbbashee      15.44         1305.0            98.82
2    25  MAA   paramss  rbbashee       2.02         1206.0            99.83
3    25  MAA   sarselv  rbbashee       0.53         1246.5            99.96
4    25  MAA  susriram  rbbashee       1.68          598.5            99.72