In [15]:
## import the liberaries
import pandas as pd
import numpy as np
import seaborn as sns
import sqlite3 as sql

In [2]:
## Read all the sheets
df_sheet1= pd.read_csv(r'C:\Users\arvinmvn\Downloads\DA_Timeline_Metrics_1627969497093.csv',)
df_sheet2= pd.read_excel(r'C:\Users\arvinmvn\Downloads\npt.xlsx',)
df_sheet3= pd.read_excel(r'C:\Users\arvinmvn\Downloads\Week 25 tmda.xlsx',sheet_name='w29')

In [3]:
## clean all sheets

##clean DA timeline sheet 1

## Steps done
# sort DAs in low to high
# remove process counts 0
## delete column D

## code for above steps ##

df_sheet1=df_sheet1.sort_values(by=['DA Login']) # sort sheet 1 by DA login
df_sheet1= df_sheet1.dropna(subset=['First Login Time']) ## drop First login time NA 
df_sheet1=df_sheet1[df_sheet1['Processed Units']!=0] ## remove all the process counts 0
df_sheet1=df_sheet1.drop(['Skill Value ID'], axis=1) ## remove skill value id column

## cleaning NPT sheet 2 
df_sheet2= df_sheet2.drop(columns=['Idle No Data']) ## drop idle no data column as it is present in sheet 1

## Clean DA vs TM sheet 3

df_sheet3=df_sheet3.rename(columns={"DA Alias": "DA Login"}) # normalize name for sheet 3 DA login, same subset as DA Alias

In [4]:
## Merge sheet 1, 2 and 3

df_merge = pd.merge(df_sheet1, df_sheet2, on="DA Login",how="inner")

#df_merge = pd.merge(df_merge, df_sheet2, on="DA Login",how="inner")
df_merge=pd.merge(df_merge,df_sheet3,on="DA Login",how="inner")
df_merge=df_merge.drop_duplicates()
print(df_merge.columns)

Index(['DA Login', 'First Login Time', 'Current Status', 'UPH', 'AHT (In sec)',
       'Velocity', 'Utilization %', 'NPT %', 'Processed Units',
       'Production Hours', 'Non Mercury Production Hours', 'DA LoggedIn Hr',
       'Processed Hours', 'Manual Skip Hours', 'Non Mercury Processing Hours',
       'Staff Hours', 'NPT', 'Idle No Data', 'Training Hours', 'Lost Hours',
       'System Issue', 'System Latency', 'Schedule Non Adherence', 'Training',
       'Excess Break', 'Overturned Review', 'Meeting', 'Level 1 Manager'],
      dtype='object')

In [5]:
## Performance Metrics Table
table_PM= pd.pivot_table(df_merge, values=['DA LoggedIn Hr', 'Processed Hours','Processed Units','AHT (In sec)','Velocity','Manual Skip Hours','Lost Hours'],
                         index=['Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total', aggfunc={'AHT (In sec)':np.mean,
                                                        'DA LoggedIn Hr':np.sum,
                                                        'Lost Hours':np.sum,
                                                        'Manual Skip Hours':np.sum,
                                                        'Processed Hours':np.sum,
                                                        'Processed Units':np.sum,
                                                        'Velocity':np.mean} , fill_value=0)
#pd.set_option('display.max_rows', df_merge.shape[0]+1)
table_PM.round(2)

,AHT (In sec),DA LoggedIn Hr,Lost Hours,Manual Skip Hours,Processed Hours,Processed Units,Velocity
Level 1 Manager,,,,,,,
czvij,60.00,58.21,67.82,1.33,51.10,3802,74.81
danijos,48.86,80.03,80.16,1.47,71.81,5775,84.14

In [6]:
## NPT Report
table_NPT= pd.pivot_table(df_merge, values=['Excess Break', 'Meeting','Training','Overturned Review'],
                         index=['Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
#pd.set_option('display.max_rows', df_sheet2.shape[0]+1)
table_NPT["sum"] = table_NPT.sum(axis=1)
table_NPT.round(2)

                 Excess Break  Meeting  Overturned Review  Training   sum
Level 1 Manager
czvij                       0     0.00               3.05      6.59  9.64
danijos                     0     1.04               1.27      2.62  4.93

In [7]:
## Lost Hours Report
df_merge["Idle"]=0
table_LH= pd.pivot_table(df_merge, values=['Idle','Idle No Data','System Latency'],
                         index=['Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
#pd.set_option('display.max_rows', df_sheet2.shape[0]+1)
table_LH["Total"] = table_LH.sum(axis=1)
table_LH.round(2)

                 Idle  Idle No Data  System Latency  Total
Level 1 Manager
czvij               0          0.02            0.19   0.20
danijos             0          0.00            0.33   0.33

In [8]:
#NPT Utilization Report

table_UR= pd.pivot_table(df_merge, values=['Utilization %','NPT %'],
                         index=['Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
#pd.set_option('display.max_rows', df_merge.shape[0]+1)
table_UR["Total"] = table_UR.sum(axis=1)
table_UR.round(2)

                 NPT %  Utilization %  Total
Level 1 Manager
czvij             0.39           6.72   7.11
danijos           0.36           9.45   9.81

In [9]:
## Bulk Mail Adherence Summary

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')

    
for j in range (0,len(table_PM.index.get_level_values('Level 1 Manager'))):
    
    table_PM= pd.pivot_table(df_merge, values=['DA LoggedIn Hr', 'Processed Hours','Processed Units','AHT (In sec)','Velocity','Manual Skip Hours','Lost Hours'],
                         index=['Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total', aggfunc=np.mean , fill_value=0)
    
    table_NPT= pd.pivot_table(df_merge, values=['Excess Break', 'Meeting','Training','Overturned Review'],
                         index=['Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.mean , fill_value=0)
    table_NPT["sum"] = table_NPT.sum(axis=1)
    
    table_LH= pd.pivot_table(df_merge, values=['Idle','Idle No Data','System Latency'],
                         index=['Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.mean, fill_value=0)

    table_LH["Total"] = table_LH.sum(axis=1)
    
    table_UR= pd.pivot_table(df_merge, values=['Utilization %','NPT %'],
                         index=['Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.mean , fill_value=0)

    pd.set_option('display.max_rows', df_merge.shape[0]+1)

    mail = outlook.CreateItem(0)

    mail.Subject = 'ADS TM:- KPI Summary'
    mail.To='czvij@amazon.com'
    #mail.To = table_PM.index.get_level_values('DA Login')[j]+'@amazon.com' 
    #mail.CC = table_PM.index.get_level_values('Level 1 Manager')[j] + '@amazon.com'
        
    
## i-> position of data in dataframe
    mail.HTMLBody = f"<h2>{'Hi ' + table_PM.index.get_level_values('Level 1 Manager')[j] + ','}<h2>"   + '''<h3> Please find below the KPI summary of your team <h3>'''  + '''<h3>Performance Metrics Report.</h3>
                   {}'''.format(table_PM[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>Lost Hours Report.</h3>
                   {}'''.format(table_LH[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>NPT Report.</h3>
                   {}'''.format(table_NPT[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>Utilization Report.</h3>
                   {}'''.format(table_UR[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render())
    
    ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [ ]:
## For Quality

In [17]:
## Read File
df_sheet4= pd.read_excel(r'C:\Users\arvinmvn\Desktop\Hourly Automation ADS\ADS vs ASR Quality Report Week 28 to 32 Aug 11.xlsx',sheet_name='RAW')
df_sheet4.head()

,SITE,LOCALE,CUST,SOID,TM,DA,ASR SCORE,DUR,DEV,Q TYPE,...,Processed Count,Quality Measured Count,Sample %,ASR vs Gold,ADS vs Gold,Difference,ADS vs Gold Overturn,ADS vs Gold Token,ASR vs Gold Overturn,ASR vs Gold Token
0,HYD,EN_US,ALEXA AUTOMOTIVE,SO-5002,ahja,estarlaa,800-900,1-3 s,Multiple Devices,NaN,...,1,0,0.0,NaN,NaN,NaN,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,HYD,EN_US,ALEXA AUTOMOTIVE,SO-5002,matlapud,alimela,800-900,1-3 s,Multiple Devices,NaN,...,1,0,0.0,NaN,NaN,NaN,0,NaN,0,NaN

In [18]:
df_sheet4.insert(1, "ADS Quality","")
df_sheet4.insert(2, "ASR Quality","")
df_sheet4=df_sheet4.rename(columns={"DA": "DA Login"})
df_sheet4=df_sheet4.rename(columns={"TM": "Level 1 Manager"})

In [19]:


table_ADS_Quality = pd.pivot_table(df_sheet4, values=['ADS vs Gold Overturn','ADS vs Gold Token'],index=['Level 1 Manager','ADS Quality','CUST'], 
                         columns= ['WEEK'] ,margins=True,
                         margins_name='total', aggfunc=np.sum , fill_value=0)

table_ASR_Quality= pd.pivot_table(df_sheet4, values=['ASR vs Gold Overturn','ASR vs Gold Token'],index=['Level 1 Manager','ASR Quality','CUST'], 
                         columns= ['WEEK'] ,margins=True,
                         margins_name='total', aggfunc=np.sum , fill_value=0)
table_ADS_Quality = (1- table_ADS_Quality['ADS vs Gold Overturn']/table_ADS_Quality['ADS vs Gold Token'])
table_ASR_Quality = (1- table_ASR_Quality['ASR vs Gold Overturn']/table_ASR_Quality['ASR vs Gold Token'])

#table_Quality_final =pd.merge(table_ADS_Quality,table_ASR_Quality, on = 'Level 1 Manager', how = 'inner')
#table_Quality_final= 100*table_Quality_final.round(4)
table_ASR_Quality = 100*table_ASR_Quality.round(4)
table_ADS_Quality = 100*table_ADS_Quality.round(4)
table_ASR_Quality
table_ADS_Quality
table_Variance =100*(table_ADS_Quality - table_ASR_Quality).round(4)

In [20]:
list = df_sheet4['Level 1 Manager'].unique().tolist()

In [21]:
## Bulk Mail

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')

    
for j in range (0,len(list)):
       
    table_ADS_Quality= pd.pivot_table(df_sheet4[df_sheet4['Level 1 Manager']==list[j]], values=['ADS vs Gold Overturn','ADS vs Gold Token'],index=['Level 1 Manager','ADS Quality','CUST'], 
                         columns= ['WEEK'] ,margins=True,
                         margins_name='total', aggfunc=np.sum , fill_value=0)

    table_ASR_Quality= pd.pivot_table(df_sheet4[df_sheet4['Level 1 Manager']==list[j]], values=['ASR vs Gold Overturn','ASR vs Gold Token'],index=['Level 1 Manager','ASR Quality','CUST'], 
                         columns= ['WEEK'] ,margins=True,
                         margins_name='total', aggfunc=np.sum , fill_value=0)
    table_ADS_Quality = (1- table_ADS_Quality['ADS vs Gold Overturn']/table_ADS_Quality['ADS vs Gold Token'])
    table_ASR_Quality = (1- table_ASR_Quality['ASR vs Gold Overturn']/table_ASR_Quality['ASR vs Gold Token'])

#table_Quality_final =pd.merge(table_ADS_Quality,table_ASR_Quality, on = 'Level 1 Manager', how = 'inner')
#table_Quality_final= 100*table_Quality_final.round(4)
    table_ASR_Quality = 100*table_ASR_Quality.round(4)
    table_ADS_Quality = 100*table_ADS_Quality.round(4)
    table_ASR_Quality
    table_ADS_Quality
    table_Variance =100*(table_ADS_Quality - table_ASR_Quality).round(4)
    table_Variance
    pd.set_option('display.max_rows', table_ADS_Quality.shape[0]+1)
    



    mail = outlook.CreateItem(0)

    mail.Subject = 'ADS TM:- Quality Summary'
    mail.To='arvinmvn@amazon.com'
    #mail.To = table_PM.index.get_level_values('DA Login')[j]+'@amazon.com' 
    #mail.CC = table_PM.index.get_level_values('Level 1 Manager')[j] + '@amazon.com'
        
    
## i-> position of data in dataframe
    mail.HTMLBody = f"<h2>{'Hi ' + list[j] + ','}<h2>"   + '''<h3> Please find below the quality summary of your team <h3>''' + '''<h3>ASR Quality WoW.</h3>
                   {}'''.format(table_ASR_Quality.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]},
 
 {'selector': 'tr:last-child',
  'props': [('font-weight', 'bold')]}

]
).set_precision(2).render()) + '''<h3>ADS Quality WoW.</h3>
                   {}'''.format(table_ADS_Quality.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]},
 
  {'selector': 'tr:last-child',
  'props': [('font-weight', 'bold')]}

]
).set_precision(2).render()) + '''<h3>Variance.</h3>
                   {}'''.format(table_Variance.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) +  '''Please click to view Quicksight Dashboard  <a href='https://us-east-1.quicksight.aws.amazon.com/sn/dashboards/253d8b1a-92bd-452a-b3cf-021fab0cbb31'>Link</a> '''

    ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [15]:
## KPI Data for Quicksight
df_merge.to_csv(r'C:\Users\arvinmvn\desktop\Tm_KPI_Summary.csv')

In [16]:
## Quality Report Data extraction using SQL

df_SQL = df_sheet4.rename(columns = {'SITE': 'SITE',
                          'LOCALE': 'LOCALE',
                           'CUST' :'CUST',
                             'SOID':'SOID',
                              'Level 1 Manager':'level1manager',
                              'DA Login':'DAlogin',
                          'ASR SCORE': 'ASRSCORE',
                           'DUR': 'DUR',
                          'DEV': 'DEV',
                          'Q TYPE': 'QTYPE',
                          'COMPLEXITY': 'COMPLEXITY',
                           'WEEK': 'WEEK',
                         'Processed Count': 'ProcessedCount',
                          'Quality Measured Count': 'QualityMeasuredCount',
                          'Sample %': 'Sample%',
                           'ASR vs Gold': 'ASRvsGold',
                          'ADS vs Gold': 'ADSvsGold',
                          'Difference': 'Difference',
                          'ADS vs Gold Overturn': 'ADSvsGoldOverturn',
                          'ASR vs Gold Overturn': 'ASRvsGoldOverturn',
                          'ASR vs Gold Token': 'ASRvsGoldToken',
                          'ADS vs Gold Token': 'ADSvsGoldToken',}, inplace = False)
df_SQL.head()

,SITE,ADS Quality,ASR Quality,LOCALE,CUST,SOID,level1manager,DAlogin,ASRSCORE,DUR,...,Processed Count,QualityMeasuredCount,Sample%,ASRvsGold,ADSvsGold,Difference,ADSvsGoldOverturn,ADSvsGoldToken,ASRvsGoldOverturn,ASRvsGoldToken
0,HYD,,,EN_US,ALEXA AUTOMOTIVE,SO-5002,ahja,estarlaa,800-900,1-3 s,...,1,0,0.0,NaN,NaN,NaN,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,HYD,,,EN_US,ALEXA AUTOMOTIVE,SO-5002,matlapud,alimela,800-900,1-3 s,...,1,0,0.0,NaN,NaN,NaN,0,NaN,0,NaN

In [17]:
from pathlib import Path
Path('quicksigh_tm.db').touch()

In [18]:
## connect to local

conn = sql.connect('quicksigh_tm.db')
c = conn.cursor()

In [19]:
df_SQL.to_sql('quicksighttm', conn, if_exists='append', index=False)
df_SQL.head()

C:\Users\arvinmvn\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

,SITE,ADS Quality,ASR Quality,LOCALE,CUST,SOID,level1manager,DAlogin,ASRSCORE,DUR,...,Processed Count,QualityMeasuredCount,Sample%,ASRvsGold,ADSvsGold,Difference,ADSvsGoldOverturn,ADSvsGoldToken,ASRvsGoldOverturn,ASRvsGoldToken
0,HYD,,,EN_US,ALEXA AUTOMOTIVE,SO-5002,ahja,estarlaa,800-900,1-3 s,...,1,0,0.0,NaN,NaN,NaN,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,HYD,,,EN_US,ALEXA AUTOMOTIVE,SO-5002,matlapud,alimela,800-900,1-3 s,...,1,0,0.0,NaN,NaN,NaN,0,NaN,0,NaN

In [20]:
##Query for quality report

sql='''
select level1manager as tm,dalogin as da,week,cust,
round(100 - sum(ADSvsGoldOverturn)/sum(ADSvsGoldtoken)*100,2) as ADS_Quality,
round(100 - sum(ASRvsGoldOverturn)/sum(ASRvsGoldtoken)*100,2) as ASR_Quality,
round(100 - sum(ADSvsGoldOverturn)/sum(ADSvsGoldtoken)*100,2) - round(100 - sum(ASRvsGoldOverturn)/sum(ASRvsGoldtoken)*100,2) as Variance
from quicksighttm
group by week,level1manager,da,cust
order by week asc


''';

    
df_sql = pd.read_sql_query(sql,conn)
df_sql.head(5)

,tm,da,WEEK,CUST,ADS_Quality,ASR_Quality,Variance
0,ahja,aishch,2021 Week 28,ALEXA FOR BUSINESS,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4,ahja,aishch,2021 Week 28,ASR,90.12,88.95,1.17

In [21]:
## Quality Summary Report for Quicksight

df_sql.to_csv(r'C:\Users\arvinmvn\desktop\Quality_SQL.csv')