In [1]:
## The data contains an extensive analyis of the Schedule Manager Report

In [1]:
## Import the liberaries
import pandas as pd
import numpy as np
import sqlite3 as sql

In [3]:
## Merge the available CSV files

#df1= pd.read_csv(r'C:\Users\arvinmvn\Downloads\Week 21.csv')  
df2= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 22.csv')
df3= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 23.csv')
df4= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 24.csv')
df5= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 25.csv')
df6= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 26.csv')
df7= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 27.csv')

all_df_list = [df2,df3,df4,df5,df6,df7]
df = pd.concat(all_df_list)

df.head()

,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,ADS Hire Date,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,2021-06-05 00:00:00,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,Y,2020-08-03 00:00:00,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,2021-06-05 00:00:00,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,Y,2018-07-16 00:00:00,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2021-06-05 00:00:00,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,Y,2020-12-14 00:00:00,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,2021-06-05 00:00:00,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,Y,2020-12-14 00:00:00,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,2021-06-05 00:00:00,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,Y,2020-09-21 00:00:00,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [4]:
#Rest all indexes,to optimize iterations

df.reset_index(inplace=True)
df.head()

,index,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,2021-06-05 00:00:00,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,Y,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,2021-06-05 00:00:00,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,Y,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,2021-06-05 00:00:00,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,Y,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,2021-06-05 00:00:00,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,Y,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,2021-06-05 00:00:00,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,Y,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [5]:
##Object types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68084 entries, 0 to 68083
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   index                            68084 non-null  int64
 1   Calendar Date                    68084 non-null  object
 2   Site                             68084 non-null  object
 3   Cost centre                      68084 non-null  int64
 4   DA Alias                         68084 non-null  object
 5   Level 1 Manager                  68084 non-null  object
 6   Level 2 Manager                  67915 non-null  object
 7   Levle 3 Manager                  67420 non-null  object
 8   Level 4 Manager                  67420 non-null  object
 9   Is DA Employed                   68084 non-null  object
 10  ADS Hire Date                    68084 non-null  object
 11  Termination Date                 68 non-null     object
 12  Has entry in Schedule Manager    68084 non-null  object
 13  Has Schedule                     68084 non-null  object
 14  Schedule Login Time              68084 non-null  object
 15  Logged in to ADSC                68084 non-null  object
 16  First login time                 59605 non-null  object
 17  Processed utterances on Mercury  68084 non-null  object
 18  Schedule hours w/o OT            68084 non-null  float64
 19  Schedule hours OT                68084 non-null  int64
 20  Total Schedule Hours             68084 non-null  float64
 21  Paid hours w/o OT                68084 non-null  float64
 22  Paid hours OT                    68084 non-null  int64
 23  Total Paid Hours                 68084 non-null  float64
 24  Staff hours w/o OT               68084 non-null  float64
 25  Staff hours OT                   68084 non-null  float64
 26  Total Staff Hours                68084 non-null  float64
 27  Paid Break - Regular Shift       68084 non-null  float64
 28  Paid Break for OT                68084 non-null  float64
 29  Total Paid Break                 68084 non-null  float64
 30  Unpaid break - Regular Shift     68084 non-null  float64
 31  Process Count                    68084 non-null  int64
 32  Is on Planned Leave              68084 non-null  float64
 33  Is on Unplanned leave            68054 non-null  float64
 34  Logged in hrs                    68084 non-null  float64
 35  SA Schedule Hours                68084 non-null  float64
 36  Schedule Non Adherence           68084 non-null  float64
 37  Calculated OT Hours              32773 non-null  float64
dtypes: float64(17), int64(5), object(16)
memory usage: 19.7+ MB

In [6]:
#show all columns
print(df.columns.tolist())

['index', 'Calendar Date', 'Site', 'Cost centre', 'DA Alias', 'Level 1 Manager', 'Level 2 Manager', 'Levle 3 Manager', 'Level 4 Manager', 'Is DA Employed', 'ADS Hire Date', 'Termination Date', 'Has entry in Schedule Manager', 'Has Schedule', 'Schedule Login Time', 'Logged in to ADSC', 'First login time', 'Processed utterances on Mercury', 'Schedule hours w/o OT', 'Schedule hours OT', 'Total Schedule Hours', 'Paid hours w/o OT', 'Paid hours OT', 'Total Paid Hours', 'Staff hours w/o OT', 'Staff hours OT', 'Total Staff Hours', 'Paid Break - Regular Shift', 'Paid Break for OT', 'Total Paid Break', 'Unpaid break - Regular Shift', 'Process Count', 'Is on Planned Leave', 'Is on Unplanned leave', 'Logged in hrs', 'SA Schedule Hours', 'Schedule Non Adherence', 'Calculated OT Hours']

In [7]:
##Add week column
df.insert(1, "Week","")
df.head()

##iteration for date to week conversion

df['Calendar Date']=pd.to_datetime(df['Calendar Date'],format='%Y-%m-%d %H:%M:%S')
df['Calendar Date']


## Map corresponding week from date

for i in range(0,len(df)):
     df['Week'][i] = df['Calendar Date'][i].week
df.head()

<ipython-input-7-73cdb22b0f7f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Week'][i] = df['Calendar Date'][i].week

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [8]:
## Week confirmation

df['Week'].unique()

array([22, 21, 23, 24, 25, 26, 27], dtype=object)

In [9]:
##calculate updated lost hours

## insert Schedule_hours_updated column

df.insert(39, "Lost Hours","")
df.head()

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN,
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN,
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN,
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN,
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN,

In [10]:
##Replace schdule SA hours from 8 to 9

for i in range(0,len(df)):
    if df['SA Schedule Hours'][i]==8:
        
        df['SA Schedule Hours'][i] = 9
    else:
        df['SA Schedule Hours'][i]=0
df.head()

<ipython-input-10-189a13fb0334>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 9
<ipython-input-10-189a13fb0334>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i]=0

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,

In [11]:
##for planned leaves###
                      
##Regulation for planned and unplanned leaves

for i in range(0,len(df)):
    
    ##for planned leaves###
    
## if planned leave= 0, then SA scheduled hours = 9
    
    if df['Is on Planned Leave'][i]== 1 or df['Is on Unplanned leave'][i]== 1:
         df['SA Schedule Hours'][i] = 0  
            
## if planned leave= 0.5, then SA scheduled hours = 4.5  

    elif df['Is on Planned Leave'][i]== 0.5 or df['Is on Unplanned leave'][i]== 0.5:
        df['SA Schedule Hours'][i] = 4.5
        
## if planned leave= 1.0, then SA scheduled hours = 0.0 

    elif df['Is on Planned Leave'][i]== 0 and df['Is on Unplanned leave'][i]== 0:
        df['SA Schedule Hours'][i] = df['SA Schedule Hours'][i]
    else:
        df['SA Schedule Hours'][i] = 0
df.head()

<ipython-input-11-67a55fd732a4>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = df['SA Schedule Hours'][i]
<ipython-input-11-67a55fd732a4>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 0
<ipython-input-11-67a55fd732a4>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 4.5
<ipython-input-11-67a55fd732a4>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 0

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,

In [12]:
## Replace NA with 0 for logged in hrs

df['Logged in hrs'].unique()

array([11.5978    ,  9.1061    ,  9.2331    , ...,  5.01777778,
        5.31611111,  8.33916667])

In [13]:
##Calculation of updated scheduled hours

for i in range(0,len(df)):
    
    df['Lost Hours'][i]= df['SA Schedule Hours'][i]- df['Logged in hrs'][i]

df.head()

<ipython-input-13-f1f8bee0ab01>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lost Hours'][i]= df['SA Schedule Hours'][i]- df['Logged in hrs'][i]

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,-2.5978
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,-0.1061
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,-0.2331
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,0.0903
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,0.015

In [14]:
##Replace -ve log in hours to 0

for i in range(0,len(df)):
    if df['Lost Hours'][i] < 0:
        df['Lost Hours'][i] = 0
    else:
        df['Lost Hours'][i]=df['Lost Hours'][i]
df.head()

<ipython-input-14-08fa586ddc83>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lost Hours'][i] = 0
<ipython-input-14-08fa586ddc83>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lost Hours'][i]=df['Lost Hours'][i]

,index,Week,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours,Lost Hours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,0
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,0
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,0
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,0.0903
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,0.015

In [15]:
## Rename the title, so that we can perform further analysis in SQL code

##Rename the columns

df_SQL = df.rename(columns = {'Calendar Date': 'CalendarDate',
                          'Cost centre': 'Costcentre',
                          'DA Alias': 'DAAlias',
                           'Level 1 Manager': 'Level1Manager',
                          'Level 2 Manager': 'Level2Manager',
                          'Levle 3 Manager': 'Level3Manager',
                          'Level 4 Manager': 'Level4Manager',
                           'Is DA Employed': 'IsDAEmployed',
                         'ADS Hire Date': 'ADSHireDate',
                          'Termination Date': 'TerminationDate',
                          'Has entry in Schedule Manager': 'HasentryinScheduleManager',
                           'Has Schedule': 'HasSchedule',
                          'Schedule Login Time': 'ScheduleLoginTime',
                          'Cost centre': 'Costcentre',
                          'First login time': 'Firstlogintime',
                           'Processed utterances on Mercury': 'ProcessedutterancesonMercury',
                          'Schedule hours w/o OT': 'Schedulehoursw/oOT',
                          'Schedule hours OT': 'SchedulehoursOT',
                          'Scheduled to work': 'Scheduledtowork',
                           'Total Schedule Hours': 'TotalScheduleHours',
                          'Paid hours w/o OT': 'Paidhoursw/oOT',
                          'Paid hours OT': 'PaidhoursOT',
                          'Total Paid Hours': 'TotalPaidHours',
                           'DA Alias': 'DAAlias',
                         'Calendar Date': 'CalendarDate',
                          'Staff hours w/o OT': 'Staffhoursw/oOT',
                          'Staff hours OT': 'StaffhoursOT',
                           'Total Staff Hours': 'TotalStaffHours',
                          'Paid Break - Regular Shift': 'PaidBreak-RegularShift',
                          'Paid Break for OT': 'PaidBreakforOT',
                          'Total Paid Break': 'TotalPaidBreak',
                           'Unpaid break - Regular Shift': 'Unpaidbreak-RegularShift',
                         'Process Count': 'ProcessCount',
                         'Is on Planned Leave': 'IsonPlannedLeave',
                         'Is on Unplanned leave': 'IsonUnplannedleave',
                         'Logged in hrs': 'Loggedinhrs',
                         'Schedule hours for SA': 'SchedulehoursforSA',
                         'Schedule Non Adherence': 'ScheduleNonAdherence',
                         'Lost Hours': 'LostHours',
                         'SA Schedule Hours': 'SAScheduleHours',
                         'Calculated OT Hours': 'CalculatedOTHours',}, inplace = False)
df_SQL.head()

,index,Week,CalendarDate,Site,Costcentre,DAAlias,Level1Manager,Level2Manager,Level3Manager,Level4Manager,...,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours,LostHours
0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,0
1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,0
2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,0
3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,0.0903
4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,0.015

In [16]:
## convert result file derived from python into a csv and remap it as a DB.

# convert to csv (for master file)
df_SQL.to_csv(r'C:\Users\arvinmvn\desktop\ADS_SM_SQL.csv')

In [21]:
## HPL Calculations

# adherence % =  1- (lost hours/scheduled hours)

#Excess Break= 1- (Excess/Scheduled hours)

##Let's use SQL for this

In [17]:
## map Path lib

from pathlib import Path
Path('ads_sm.db').touch()

In [18]:
## connect to local

conn = sql.connect('ads_sm.db')
c = conn.cursor()

In [19]:

df = pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS_SM_SQL.csv')
df.to_sql('Schedule_Manager', conn, if_exists='append', index=False)
df.head()

C:\Users\arvinmvn\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\arvinmvn\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

,Unnamed: 0,index,Week,CalendarDate,Site,Costcentre,DAAlias,Level1Manager,Level2Manager,Level3Manager,...,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours,LostHours
0,0,0,22,2021-06-05,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,...,1.0,0.0,459,0.0,0.0,11.5978,9.0,0.0000,NaN,0.0000
1,1,1,22,2021-06-05,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,...,1.0,0.0,5,0.0,0.0,9.1061,9.0,0.0000,NaN,0.0000
2,2,2,22,2021-06-05,HYD,5140,akhankqd,vpramani,femohamm,sonak,...,1.0,0.0,415,0.0,0.0,9.2331,9.0,0.0000,NaN,0.0000
3,3,3,22,2021-06-05,HYD,5140,akumallv,vpramani,femohamm,sonak,...,1.0,0.0,33,0.0,0.0,8.9097,9.0,0.0747,NaN,0.0903
4,4,4,22,2021-06-05,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,...,1.0,0.0,0,0.0,0.0,8.9850,9.0,0.0000,NaN,0.0150

In [24]:
## WoW Site level comparision

sql='''
select week,site,
round(100*(1 - sum(LostHours)/sum(SAScheduleHours)),2) as shift_adherence from Schedule_Manager
where site = 'MAA'
group by week,site
order by week asc

''';

    
df = pd.read_sql_query(sql,conn)
df.head(20)

   Week Site  shift_adherence
0    21  MAA            98.86
1    22  MAA            98.59
2    23  MAA            98.85
3    24  MAA            99.33
4    25  MAA            99.30
5    26  MAA            99.34
6    27  MAA            99.42

In [77]:
##Manager level split MAA/HYD Week wise splt for the Week :- For immediate view on TM performance

sql='''
select week,site,Level4Manager as SiteLead,Level3Manager as SrOM,Level2Manager as OM,Level1Manager as TM,round(sum(losthours),2) as losthours,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(LostHours)/sum(SAScheduleHours)),2) as shift_adherence,
sum(ProcessCount) as Throughout,sum(IsonUnplannedleave) as UnplannedLeave,
sum(IsonPlannedLeave) as PlannnedLeave from Schedule_Manager
where Level1Manager ='dmaniva' and week=27
group by week,Level1manager
order by week asc

''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

,Week,Site,SiteLead,SrOM,OM,TM,losthours,schedulehours,shift_adherence,Throughout,UnplannedLeave,PlannnedLeave
0,27,MAA,mnagal,radhikac,rbbashee,dmaniva,13.68,1309.5,98.96,48940,5.5,2.0

In [21]:
df_sql_result.to_csv(r'C:\Users\arvinmvn\desktop\sqresult.csv')

In [78]:
##Manager level split MAA/HYD Week wise splt for the Week :- For dashboard

sql='''
select week,site,Level4Manager as SiteLead,Level3Manager as SrOM,Level2Manager as OM,Level1Manager as TM,round(sum(losthours),2) as losthours,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(LostHours)/sum(SAScheduleHours)),2) as shift_adherence,
sum(ProcessCount) as Throughout,sum(IsonUnplannedleave) as UnplannedLeave,
sum(IsonPlannedLeave) as PlannnedLeave from Schedule_Manager
where Level1Manager ='dmaniva' and week=27
group by week,Level1manager
order by week asc

''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

,Week,Site,SiteLead,SrOM,OM,TM,losthours,schedulehours,shift_adherence,Throughout,UnplannedLeave,PlannnedLeave
0,21,HYD,shp,sonak,jkkommu,abhirama,0.53,18.0,97.05,1029,0.0,0.0
1,21,HYD,shp,sonak,jkkommu,abhishk,0.00,27.0,100.00,1591,0.0,0.0
2,21,MAA,deepasac,seturams,sureshhv,abrsamue,0.10,36.0,99.73,969,0.0,0.0
3,21,MAA,deepasac,seturams,sureshhv,ajaykant,0.07,36.0,99.80,2215,1.0,0.0
4,21,HYD,shp,rhuam,hkbhosle,anwaar,1.36,117.0,98.84,7110,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
675,27,MAA,mnagal,seturams,manvani,venuthra,7.38,1089.0,99.32,19397,3.0,4.0
676,27,HYD,deepasac,shukavni,snishant,vgnram,15.06,670.5,97.75,24490,4.5,0.0
677,27,HYD,deepasac,sonak,amitas,vkkuchu,8.38,1242.0,99.33,23272,8.0,6.0
678,27,HYD,deepasac,sonak,amitas,vpramani,1.51,940.5,99.84,16062,4.5,2.0
679,27,HYD,deepasac,sonak,amitas,vvelpula,1.13,846.0,99.87,15629,7.0,1.0