In [1]:
## The data contains an extensive analyis of the Schedule Manager Report

## SSS

## The script is writtent using Python, SQL

In [91]:
## Import the liberaries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import sqlite3 as sql
import datetime as dt

In [2]:
## Merge the available CSV files

#df1= pd.read_csv(r'C:\Users\arvinmvn\Downloads\Week 21.csv')  
df2= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 22.csv')
df3= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 23.csv')
df4= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 24.csv')
df5= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 25.csv')
df6= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 26.csv')
df7= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 27.csv')
df8= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 28.csv')
df9= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 29.csv')
df10= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 30.csv')


all_df_list = [df2,df3,df4,df5,df6,df7,df8,df9,df10]
df = pd.concat(all_df_list)

df.head()

,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,ADS Hire Date,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,2021-06-05 00:00:00,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,Y,2020-08-03 00:00:00,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,2021-06-05 00:00:00,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,Y,2018-07-16 00:00:00,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2021-06-05 00:00:00,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,Y,2020-12-14 00:00:00,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,2021-06-05 00:00:00,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,Y,2020-12-14 00:00:00,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,2021-06-05 00:00:00,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,Y,2020-09-21 00:00:00,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [3]:
#Rest all indexes,to optimize iterations

df.reset_index(inplace=True)
df.head()

,index,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,2021-06-05 00:00:00,HYD,5140,aapramzn,skkarni,sinneeta,shukavni,shp,Y,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,2021-06-05 00:00:00,HYD,5140,afeefr,radhikh,hkbhosle,rhuam,shp,Y,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,2021-06-05 00:00:00,HYD,5140,akhankqd,vpramani,femohamm,sonak,shp,Y,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,2021-06-05 00:00:00,HYD,5140,akumallv,vpramani,femohamm,sonak,shp,Y,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,2021-06-05 00:00:00,HYD,5140,aleshwa,ravrayal,bhawanam,rhuam,shp,Y,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [4]:
##Object types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100591 entries, 0 to 100590
Data columns (total 38 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   index                            100591 non-null  int64
 1   Calendar Date                    100591 non-null  object
 2   Site                             100591 non-null  object
 3   Cost centre                      100591 non-null  int64
 4   DA Alias                         100591 non-null  object
 5   Level 1 Manager                  100591 non-null  object
 6   Level 2 Manager                  100273 non-null  object
 7   Levle 3 Manager                  99477 non-null   object
 8   Level 4 Manager                  99477 non-null   object
 9   Is DA Employed                   100591 non-null  object
 10  ADS Hire Date                    100591 non-null  object
 11  Termination Date                 147 non-null     object
 12  Has entry in Schedule Manager    100591 non-null  object
 13  Has Schedule                     100591 non-null  object
 14  Schedule Login Time              100591 non-null  object
 15  Logged in to ADSC                100591 non-null  object
 16  First login time                 88051 non-null   object
 17  Processed utterances on Mercury  100591 non-null  object
 18  Schedule hours w/o OT            100591 non-null  float64
 19  Schedule hours OT                100591 non-null  int64
 20  Total Schedule Hours             100591 non-null  float64
 21  Paid hours w/o OT                100591 non-null  float64
 22  Paid hours OT                    100591 non-null  int64
 23  Total Paid Hours                 100591 non-null  float64
 24  Staff hours w/o OT               100591 non-null  float64
 25  Staff hours OT                   100591 non-null  float64
 26  Total Staff Hours                100591 non-null  float64
 27  Paid Break - Regular Shift       100591 non-null  float64
 28  Paid Break for OT                100591 non-null  float64
 29  Total Paid Break                 100591 non-null  float64
 30  Unpaid break - Regular Shift     100591 non-null  float64
 31  Process Count                    100591 non-null  int64
 32  Is on Planned Leave              100591 non-null  float64
 33  Is on Unplanned leave            100561 non-null  float64
 34  Logged in hrs                    100591 non-null  float64
 35  SA Schedule Hours                100591 non-null  float64
 36  Schedule Non Adherence           100591 non-null  float64
 37  Calculated OT Hours              65280 non-null   float64
dtypes: float64(17), int64(5), object(16)
memory usage: 29.2+ MB

In [5]:
#show all columns
print(df.columns.tolist())

['index', 'Calendar Date', 'Site', 'Cost centre', 'DA Alias', 'Level 1 Manager', 'Level 2 Manager', 'Levle 3 Manager', 'Level 4 Manager', 'Is DA Employed', 'ADS Hire Date', 'Termination Date', 'Has entry in Schedule Manager', 'Has Schedule', 'Schedule Login Time', 'Logged in to ADSC', 'First login time', 'Processed utterances on Mercury', 'Schedule hours w/o OT', 'Schedule hours OT', 'Total Schedule Hours', 'Paid hours w/o OT', 'Paid hours OT', 'Total Paid Hours', 'Staff hours w/o OT', 'Staff hours OT', 'Total Staff Hours', 'Paid Break - Regular Shift', 'Paid Break for OT', 'Total Paid Break', 'Unpaid break - Regular Shift', 'Process Count', 'Is on Planned Leave', 'Is on Unplanned leave', 'Logged in hrs', 'SA Schedule Hours', 'Schedule Non Adherence', 'Calculated OT Hours']

In [6]:
## Add week, Schedule login timestamp and first login timestamp

df.insert(1, "Week","")
df.insert(2, "Schedule Login TimeStamp","")
df.insert(3, "First login time TimeStamp","")
df.insert(4, "Login Deficit","")
df.insert(5, "Late login or Not","")
df.head()

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,,,,,,2021-06-05 00:00:00,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,,,,,,2021-06-05 00:00:00,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,,,,,,2021-06-05 00:00:00,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,,,,,,2021-06-05 00:00:00,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,,,,,,2021-06-05 00:00:00,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [7]:
##iteration for date to week conversion

df['Calendar Date']=pd.to_datetime(df['Calendar Date'],format='%Y-%m-%d %H:%M:%S')
df['Calendar Date']


## Map corresponding week from date

for i in range(0,len(df)):
     df['Week'][i] = df['Calendar Date'][i].week
df.head()

<ipython-input-7-9aa2e29c80aa>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Week'][i] = df['Calendar Date'][i].week

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,,,,,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,,,,,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,,,,,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,,,,,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,,,,,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [8]:
## Week confirmation

df['Week'].unique()

array([22, 21, 23, 24, 25, 26, 27, 28, 29, 30], dtype=object)

In [9]:
##Schedule Login datetime to timestamp format

df['Schedule Login Time']=pd.to_datetime(df['Schedule Login Time'],format='%Y-%m-%d %H:%M:%S')

for i in range(0,len(df)):
    df['Schedule Login TimeStamp'][i] = df['Schedule Login Time'][i].strftime("%H:%M:%S")
df.head()

<ipython-input-9-7a8777cf6d76>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Schedule Login TimeStamp'][i] = df['Schedule Login Time'][i].strftime("%H:%M:%S")

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,,,,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,,,,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,,,,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,,,,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,,,,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [10]:
##First Login contains null values, to handle the missing data we shall use the value of the login time
## the login deficit calculation for this will be 0, therefore it will not impede our result calculation
# for the count of late logins
df['First login time'] = df['First login time'].fillna(df['Schedule Login Time'])

In [11]:
##First Login datetime to timestamp format

df['First login time']=pd.to_datetime(df['First login time'],format='%Y-%m-%d %H:%M:%S')

for i in range(0,len(df)):
    df['First login time TimeStamp'][i] = df['First login time'][i].strftime("%H:%M:%S")
df.head()

<ipython-input-11-221747d0427f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['First login time TimeStamp'][i] = df['First login time'][i].strftime("%H:%M:%S")

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,,,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,,,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,,,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,,,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,,,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [12]:
##Login Deficit calculation

for i in range(len(df)):
            sh=  str(df['Schedule Login TimeStamp'].values[i])
            sv=  str(df['First login time TimeStamp'].values[i])
            h,m,s = sh.split(':' or '.')
            p,r,b = sv.split(':' or '.')
            df['Login Deficit'].values[i]= float(dt.timedelta(hours=int(p),minutes=int(r),seconds=float(b)).total_seconds()/60)- float(dt.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds()/60)


df.head()

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,0.583333,,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [13]:
##Late login or not

for i in range(0,len(df)):
    if df['Login Deficit'][i] > 0:
        df['Late login or Not'][i]='Late Login'
    else:
        df['Late login or Not'][i]='Not Late Login'
df.head()

<ipython-input-13-89c43b5c7329>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Late login or Not'][i]='Late Login'
<ipython-input-13-89c43b5c7329>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Late login or Not'][i]='Not Late Login'

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,0.583333,Late Login,2021-06-05,HYD,5140,aapramzn,...,0.0,1.0,0.0,459,0.0,0.0,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Late Login,2021-06-05,HYD,5140,afeefr,...,0.0,1.0,0.0,5,0.0,0.0,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,0.0,1.0,0.0,415,0.0,0.0,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,0.0,1.0,0.0,33,0.0,0.0,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Late Login,2021-06-05,HYD,5140,aleshwa,...,0.0,1.0,0.0,0,0.0,0.0,8.9850,8.0,0.0000,NaN

In [14]:
##calculate updated lost hours

## insert Schedule_hours_updated column

df.insert(39, "Lost Hours","")
df.head()

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Lost Hours,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,0.583333,Late Login,2021-06-05,HYD,5140,aapramzn,...,1.0,0.0,459,0.0,0.0,,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Late Login,2021-06-05,HYD,5140,afeefr,...,1.0,0.0,5,0.0,0.0,,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,1.0,0.0,415,0.0,0.0,,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,1.0,0.0,33,0.0,0.0,,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Late Login,2021-06-05,HYD,5140,aleshwa,...,1.0,0.0,0,0.0,0.0,,8.9850,8.0,0.0000,NaN

In [15]:
##for planned leaves###
                      
##Regulation for planned and unplanned leaves

for i in range(0,len(df)):
    
    ##for planned leaves###
    
## if planned leave= 0, then SA scheduled hours = 8.0
    
    if df['Is on Planned Leave'][i]== 1 or df['Is on Unplanned leave'][i]== 1:
         df['SA Schedule Hours'][i] = 0  
            
## if planned leave= 0.5, then SA scheduled hours = 4.0  

    elif df['Is on Planned Leave'][i]== 0.5 or df['Is on Unplanned leave'][i]== 0.5:
        df['SA Schedule Hours'][i] = 4.0
        
## if planned leave= 1.0, then SA scheduled hours = 0.0 

    elif df['Is on Planned Leave'][i]== 0 and df['Is on Unplanned leave'][i]== 0:
        df['SA Schedule Hours'][i] = df['SA Schedule Hours'][i]
    else:
        df['SA Schedule Hours'][i] = 0
df.head()

<ipython-input-15-ec99888389ac>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = df['SA Schedule Hours'][i]
<ipython-input-15-ec99888389ac>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 0
<ipython-input-15-ec99888389ac>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 4.0
<ipython-input-15-ec99888389ac>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SA Schedule Hours'][i] = 0

,index,Week,Schedule Login TimeStamp,First login time TimeStamp,Login Deficit,Late login or Not,Calendar Date,Site,Cost centre,DA Alias,...,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Lost Hours,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,0,22,09:30:00,09:30:35,0.583333,Late Login,2021-06-05,HYD,5140,aapramzn,...,1.0,0.0,459,0.0,0.0,,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Late Login,2021-06-05,HYD,5140,afeefr,...,1.0,0.0,5,0.0,0.0,,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,1.0,0.0,415,0.0,0.0,,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,1.0,0.0,33,0.0,0.0,,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Late Login,2021-06-05,HYD,5140,aleshwa,...,1.0,0.0,0,0.0,0.0,,8.9850,8.0,0.0000,NaN

In [16]:
## Rename the title, so that we can perform further analysis in SQL code

##Rename the columns

df_SQL = df.rename(columns = {'Calendar Date': 'CalendarDate',
                          'Cost centre': 'Costcentre',
                           'Schedule Login TimeStamp' :'ScheduleLoginTimeStamp',
                             'First login time TimeStamp':'FirstlogintimeTimeStamp',
                              'Login Deficit':'LoginDeficit',
                              'Late login or Not':'LateloginorNot',
                          'DA Alias': 'DAAlias',
                           'Level 1 Manager': 'Level1Manager',
                          'Level 2 Manager': 'Level2Manager',
                          'Levle 3 Manager': 'Level3Manager',
                          'Level 4 Manager': 'Level4Manager',
                           'Is DA Employed': 'IsDAEmployed',
                         'ADS Hire Date': 'ADSHireDate',
                          'Termination Date': 'TerminationDate',
                          'Has entry in Schedule Manager': 'HasentryinScheduleManager',
                           'Has Schedule': 'HasSchedule',
                          'Schedule Login Time': 'ScheduleLoginTime',
                          'Cost centre': 'Costcentre',
                          'First login time': 'Firstlogintime',
                           'Processed utterances on Mercury': 'ProcessedutterancesonMercury',
                          'Schedule hours w/o OT': 'Schedulehoursw/oOT',
                          'Schedule hours OT': 'SchedulehoursOT',
                          'Scheduled to work': 'Scheduledtowork',
                           'Total Schedule Hours': 'TotalScheduleHours',
                          'Paid hours w/o OT': 'Paidhoursw/oOT',
                          'Paid hours OT': 'PaidhoursOT',
                          'Total Paid Hours': 'TotalPaidHours',
                           'DA Alias': 'DAAlias',
                         'Calendar Date': 'CalendarDate',
                          'Staff hours w/o OT': 'Staffhoursw/oOT',
                          'Staff hours OT': 'StaffhoursOT',
                           'Total Staff Hours': 'TotalStaffHours',
                          'Paid Break - Regular Shift': 'PaidBreak-RegularShift',
                          'Paid Break for OT': 'PaidBreakforOT',
                          'Total Paid Break': 'TotalPaidBreak',
                           'Unpaid break - Regular Shift': 'Unpaidbreak-RegularShift',
                         'Process Count': 'ProcessCount',
                         'Is on Planned Leave': 'IsonPlannedLeave',
                         'Is on Unplanned leave': 'IsonUnplannedleave',
                         'Logged in hrs': 'Loggedinhrs',
                         'Schedule hours for SA': 'SchedulehoursforSA',
                         'Schedule Non Adherence': 'ScheduleNonAdherence',
                         'Lost Hours': 'LostHours',
                         'SA Schedule Hours': 'SAScheduleHours',
                         'Calculated OT Hours': 'CalculatedOTHours',}, inplace = False)
df_SQL.head()

,index,Week,ScheduleLoginTimeStamp,FirstlogintimeTimeStamp,LoginDeficit,LateloginorNot,CalendarDate,Site,Costcentre,DAAlias,...,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,LostHours,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours
0,0,22,09:30:00,09:30:35,0.583333,Late Login,2021-06-05,HYD,5140,aapramzn,...,1.0,0.0,459,0.0,0.0,,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Late Login,2021-06-05,HYD,5140,afeefr,...,1.0,0.0,5,0.0,0.0,,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,1.0,0.0,415,0.0,0.0,,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,1.0,0.0,33,0.0,0.0,,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Late Login,2021-06-05,HYD,5140,aleshwa,...,1.0,0.0,0,0.0,0.0,,8.9850,8.0,0.0000,NaN

In [31]:
## convert result file derived from python into a csv and remap it as a DB.

# convert to csv (for master file)
#df_SQL.to_csv(r'C:\Users\arvinmvn\desktop\ADS_SM_SQL.csv')

In [21]:
## HPL Calculations

# adherence % =  1- (lost hours/scheduled hours)

#count of leaves count(if late logins)

##Let's use SQL for this

In [17]:
## map Path lib

from pathlib import Path
Path('ads_sm.db').touch()

In [18]:
## connect to local

conn = sql.connect('ads_sm.db')
c = conn.cursor()

In [19]:

#df = pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS_SM_SQL.csv')
df_SQL.to_sql('Schedule_Manager', conn, if_exists='append', index=False)
df_SQL.head()

C:\Users\arvinmvn\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

,index,Week,ScheduleLoginTimeStamp,FirstlogintimeTimeStamp,LoginDeficit,LateloginorNot,CalendarDate,Site,Costcentre,DAAlias,...,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,LostHours,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours
0,0,22,09:30:00,09:30:35,0.583333,Late Login,2021-06-05,HYD,5140,aapramzn,...,1.0,0.0,459,0.0,0.0,,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Late Login,2021-06-05,HYD,5140,afeefr,...,1.0,0.0,5,0.0,0.0,,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,1.0,0.0,415,0.0,0.0,,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,1.0,0.0,33,0.0,0.0,,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Late Login,2021-06-05,HYD,5140,aleshwa,...,1.0,0.0,0,0.0,0.0,,8.9850,8.0,0.0000,NaN

In [20]:
## WoW Site level comparision WoW of shift adherence

sql='''
select a.site,
max(a.week22) as Week22,
max(a.week23)as Week23,
max(a.week24) as Week24,
max(a.week25) as Week25,
max(a.week26) as Week26,
max(a.week27) as Week27,
max(a.week28) as Week28,
max(a.week29) as Week29,
max(a.week30) as Week30
from
(
select Site,
CASE WHEN Week = 22
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week22,
CASE WHEN Week = 23
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week23,
CASE WHEN Week = 24
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week24,
CASE WHEN Week = 25
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week25,
CASE WHEN Week = 26
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week26,
CASE WHEN Week = 27
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week27,
CASE WHEN Week = 28
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week28,
CASE WHEN Week = 29
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week29,
CASE WHEN Week = 30
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week30

from Schedule_Manager
group by site,week
) a
group by a.site
''';

    
df = pd.read_sql_query(sql,conn)
df.head(20)

  Site  Week22  Week23  Week24  Week25  Week26  Week27  Week28  Week29  Week30
0  HYD   97.98   99.03   99.29   99.36   99.24   99.42   99.41   99.40   99.29
1  MAA   98.81   99.10   99.53   99.49   99.54   99.64   99.52   99.45   99.38
2  VCC    0.00    0.00    0.00    0.00    0.00  100.00   97.06    0.00    0.00

In [21]:
## WoW L6 level comparision WoW of shift adherence

sql='''
select a.level3manager as SrOM,
max(a.week22) as Week22,
max(a.week23)as Week23,
max(a.week24) as Week24,
max(a.week25) as Week25,
max(a.week26) as Week26,
max(a.week27) as Week27,
max(a.week28) as Week28,
max(a.week29) as Week29,
max(a.week30) as Week30
from
(
select level3manager,
CASE WHEN Week = 22
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week22,
CASE WHEN Week = 23
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week23,
CASE WHEN Week = 24
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week24,
CASE WHEN Week = 25
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week25,
CASE WHEN Week = 26
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week26,
CASE WHEN Week = 27
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week27,
CASE WHEN Week = 28
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week28,
CASE WHEN Week = 29
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week29,
CASE WHEN Week = 30
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week30

from Schedule_Manager
group by level3manager,week
) a
group by a.level3manager
''';

    
df = pd.read_sql_query(sql,conn)
df.head(20)

,SrOM,Week22,Week23,Week24,Week25,Week26,Week27,Week28,Week29,Week30
0,None,95.88,100.00,98.33,95.38,96.04,96.38,96.47,97.59,0.00
1,bcchadha,97.32,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,deepasac,1.27,98.07,98.71,99.03,99.10,99.20,99.31,100.00,64.33
3,gupsahil,0.00,0.00,0.00,0.00,99.03,85.67,91.59,0.00,0.00
4,jothindr,99.36,99.73,99.73,99.74,99.74,99.78,99.16,99.42,99.41
5,maswini,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,97.33
6,mnagal,0.00,1.47,3.31,0.00,98.80,98.68,98.16,95.03,99.13
7,radhikac,98.61,99.02,99.45,99.58,99.48,99.62,99.36,99.52,99.53
8,rhuam,98.01,99.13,99.25,99.16,99.02,99.30,99.36,99.53,99.40
9,seturams,99.10,98.98,99.71,99.37,99.67,99.73,99.66,99.67,99.65
10,shp,94.63,92.72,95.81,96.61,98.02,95.27,98.45,97.56,93.13
11,shukavni,96.99,98.74,99.23,99.32,99.30,99.22,99.13,99.07,99.20
12,sonak,98.67,99.22,99.52,99.67,99.40,99.68,99.59,99.63,99.44

In [22]:
## WoW L5 level comparision WoW of shift adherence

sql='''
select a.level2manager as OM,
max(a.week22) as Week22,
max(a.week23)as Week23,
max(a.week24) as Week24,
max(a.week25) as Week25,
max(a.week26) as Week26,
max(a.week27) as Week27,
max(a.week28) as Week28,
max(a.week29) as Week29,
max(a.week30) as Week30
from
(
select level2manager,
CASE WHEN Week = 22
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week22,
CASE WHEN Week = 23
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week23,
CASE WHEN Week = 24
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week24,
CASE WHEN Week = 25
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week25,
CASE WHEN Week = 26
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week26,
CASE WHEN Week = 27
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week27,
CASE WHEN Week = 28
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week28,
CASE WHEN Week = 29
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week29,
CASE WHEN Week = 30
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week30

from Schedule_Manager
group by level2manager,week
) a
group by a.level2manager
''';

    
df = pd.read_sql_query(sql,conn)
df.head(20)

,OM,Week22,Week23,Week24,Week25,Week26,Week27,Week28,Week29,Week30
0,None,95.88,100.00,97.49,100.00,99.94,91.55,95.71,96.00,0.00
1,amishad,0.00,0.00,0.00,0.00,99.03,85.67,91.59,0.00,0.00
2,amitas,99.08,99.36,99.69,99.78,99.81,99.71,99.74,99.61,99.54
3,ankitjln,0.00,0.00,0.00,0.00,0.00,99.48,99.05,99.21,99.46
4,baldreyh,99.53,99.90,99.90,99.90,99.99,99.94,97.44,98.69,0.00
5,bhawanam,97.42,98.98,99.10,99.21,99.21,99.09,99.60,99.53,99.20
6,deepasac,0.00,92.72,95.81,96.61,98.02,95.27,98.45,97.56,93.13
7,femohamm,97.91,98.97,99.23,99.61,98.98,99.65,99.44,99.65,99.33
8,hkbhosle,98.64,99.06,99.66,99.54,98.82,99.52,99.46,99.41,99.50
9,ilaraja,0.00,0.00,98.35,95.30,95.90,96.84,97.15,97.84,97.92
10,jagarekh,0.00,0.00,0.00,0.00,0.00,99.66,99.27,99.55,99.56
11,jkkommu,98.81,99.25,99.56,0.00,0.00,0.00,0.00,0.00,0.00
12,jothindr,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,khadsayy,99.84,99.88,99.87,99.85,99.74,99.90,99.79,99.21,99.47
14,manvani,98.57,98.39,99.55,99.36,99.64,99.60,99.69,99.58,99.49
15,maswini,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
16,mnagal,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,mryjos,98.93,98.63,99.43,99.49,99.50,99.67,99.16,99.48,99.53
18,neersin,94.24,95.95,97.38,0.00,0.00,0.00,0.00,0.00,0.00
19,nirmalp,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,95.25

In [23]:
## WoW L5 level comparision WoW of shift adherence

sql='''
select a.level1manager as TM,
max(a.week22) as Week22,
max(a.week23)as Week23,
max(a.week24) as Week24,
max(a.week25) as Week25,
max(a.week26) as Week26,
max(a.week27) as Week27,
max(a.week28) as Week28,
max(a.week29) as Week29,
max(a.week30) as Week30
from
(
select level1manager,
CASE WHEN Week = 22
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week22,
CASE WHEN Week = 23
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week23,
CASE WHEN Week = 24
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week24,
CASE WHEN Week = 25
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) 
ELSE 0 END AS Week25,
CASE WHEN Week = 26
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week26,
CASE WHEN Week = 27
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week27,
CASE WHEN Week = 28
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week28,
CASE WHEN Week = 29
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week29,
CASE WHEN Week = 30
THEN round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2)
ELSE 0 END AS Week30

from Schedule_Manager
group by level1manager,week
) a
group by a.level1manager
''';

    
df = pd.read_sql_query(sql,conn)
df.head(20)

,TM,Week22,Week23,Week24,Week25,Week26,Week27,Week28,Week29,Week30
0,abhirama,98.34,99.74,99.68,99.73,99.19,99.51,99.62,99.43,99.20
1,abhishk,99.37,99.80,99.25,99.42,99.05,99.86,98.91,99.78,99.85
2,abrsamue,99.25,97.14,99.79,98.85,99.45,99.81,99.46,99.73,99.39
3,ahja,99.11,98.22,99.97,98.97,97.11,98.65,99.35,97.73,99.93
4,aiswarv,100.00,100.00,97.49,100.00,99.94,91.55,97.87,96.00,96.47
5,ajaykant,99.74,99.69,99.65,99.94,99.93,99.90,99.94,99.62,99.96
6,amanjyo,100.00,100.00,100.00,0.00,0.00,0.00,0.00,0.00,0.00
7,amitas,0.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00
8,ankitjln,99.19,99.48,99.66,99.08,98.81,99.23,99.29,0.00,0.00
9,anwaar,99.45,99.28,99.01,99.45,97.86,99.59,98.25,99.55,97.80
10,arsmalik,94.35,98.75,99.37,99.55,98.98,98.74,99.69,99.79,99.70
11,ashalat,99.14,98.07,99.47,99.81,99.79,99.83,99.87,99.15,99.59
12,balajgz,99.35,99.62,99.86,99.90,99.77,99.82,99.83,99.64,99.63
13,baldreyh,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,bchowdar,98.79,98.02,98.63,99.72,99.23,99.61,99.43,99.92,99.62
15,bhosalej,99.97,99.96,99.96,99.88,100.00,0.00,99.98,0.00,99.80
16,boudhaya,97.70,98.77,99.86,99.92,99.86,99.83,99.69,99.89,99.18
17,chaarna,99.55,99.09,99.49,99.69,98.78,99.65,99.52,99.01,99.39
18,chackoa,98.00,99.16,99.76,99.67,99.77,99.91,99.73,99.86,99.99
19,csushmit,99.08,98.64,99.59,99.43,99.15,98.48,98.36,97.76,98.61

In [24]:
## Performance breakdown at an L6 Level

sql='''
select week,site,Level3Manager as SrOM,round(sum(ScheduleNonAdherence),2) as ScheduleNonAdherence,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) as shift_adherence,
sum(IsonUnplannedleave) as UnplannedLeave,
sum(IsonPlannedLeave) as PlannnedLeave from Schedule_Manager
where week =30
group by SrOM
order by site,shift_adherence asc


''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

,Week,Site,SrOM,ScheduleNonAdherence,schedulehours,shift_adherence,UnplannedLeave,PlannnedLeave
0,30,HYD,deepasac,15.69,44.00,64.33,0.5,0.0
1,30,HYD,shp,12.10,176.00,93.13,2.0,0.0
2,30,HYD,maswini,56.31,2112.00,97.33,9.0,0.0
3,30,HYD,shukavni,87.68,10976.00,99.20,118.5,25.5
4,30,HYD,rhuam,65.04,10856.00,99.40,123.0,38.0
5,30,HYD,sonak,72.84,13057.75,99.44,117.0,58.5
6,30,MAA,mnagal,1.42,164.00,99.13,3.5,1.0
7,30,MAA,jothindr,74.31,12511.50,99.41,104.0,30.0
8,30,MAA,radhikac,51.86,11146.50,99.53,122.5,33.0
9,30,MAA,seturams,37.14,10492.00,99.65,87.0,42.5

In [25]:
## Performance breakdown at an L5 Level

sql='''
select week,site,Level2Manager as OM,round(sum(ScheduleNonAdherence),2) as ScheduleNonAdherence,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) as shift_adherence,
sum(IsonUnplannedleave) as UnplannedLeave,
sum(IsonPlannedLeave) as PlannnedLeave from Schedule_Manager
where week =30
group by OM
order by site,shift_adherence asc


''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

,Week,Site,OM,ScheduleNonAdherence,schedulehours,shift_adherence,UnplannedLeave,PlannnedLeave
0,30,HYD,maswini,0.00,0.00,NaN,0.0,0.0
1,30,HYD,shukavni,15.69,16.00,1.92,0.0,0.0
2,30,HYD,deepasac,12.10,176.00,93.13,2.0,0.0
3,30,HYD,shrajama,13.42,380.00,96.47,5.5,0.0
4,30,HYD,ilaraja,30.71,1476.00,97.92,3.5,0.0
5,30,HYD,shavarun,53.05,4556.00,98.84,65.5,14.0
6,30,HYD,bhawanam,32.60,4092.00,99.20,47.5,6.0
7,30,HYD,femohamm,41.76,6233.75,99.33,43.5,19.0
8,30,HYD,ankitjln,34.64,6420.00,99.46,53.0,11.5
9,30,HYD,hkbhosle,22.06,4420.00,99.50,51.0,25.5
10,30,HYD,amitas,31.07,6824.00,99.54,73.5,39.5
11,30,HYD,sakamath,10.39,2344.00,99.56,24.5,6.5
12,30,HYD,rhuam,0.00,28.00,100.00,0.5,0.0
13,30,MAA,jothindr,0.00,0.00,NaN,0.0,0.0
14,30,MAA,nirmalp,12.17,256.00,95.25,0.0,0.0
15,30,MAA,rebepaul,43.13,3755.75,98.85,40.5,6.0
16,30,MAA,radhikac,1.18,112.00,98.94,3.0,1.0
17,30,MAA,khadsayy,18.37,3471.75,99.47,12.0,13.0
18,30,MAA,manvani,17.40,3436.00,99.49,32.5,12.0
19,30,MAA,rbbashee,22.63,4695.00,99.52,42.5,10.5
20,30,MAA,mryjos,13.95,2983.50,99.53,29.0,20.0
21,30,MAA,seturams,0.24,52.00,99.54,0.5,0.0
22,30,MAA,jagarekh,15.28,3468.00,99.56,51.0,2.5
23,30,MAA,rvrajar,8.64,2696.00,99.68,26.5,10.5
24,30,MAA,sureshhv,11.10,4360.00,99.75,28.0,20.0
25,30,MAA,sridarss,12.81,5284.00,99.76,51.5,11.0

In [26]:
## Performance breakdown at an L4 Level

sql='''
select week,site,Level1Manager as TM,round(sum(ScheduleNonAdherence),2) as ScheduleNonAdherence,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) as shift_adherence,
sum(IsonUnplannedleave) as UnplannedLeave,
sum(IsonPlannedLeave) as PlannnedLeave from Schedule_Manager
where week =30
group by TM
order by site,shift_adherence asc


''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

,Week,Site,TM,ScheduleNonAdherence,schedulehours,shift_adherence,UnplannedLeave,PlannnedLeave
0,30,HYD,ilaraja,0.00,0.0,NaN,0.0,0.0
1,30,HYD,shavarun,15.69,16.0,1.92,0.0,0.0
2,30,HYD,sonak,12.10,176.0,93.13,2.0,0.0
3,30,HYD,aiswarv,13.42,380.0,96.47,5.5,0.0
4,30,HYD,lamakash,19.37,712.0,97.28,12.0,0.0
...,...,...,...,...,...,...,...,...
95,30,MAA,ajaykant,0.27,680.0,99.96,2.0,9.0
96,30,MAA,rovinod,0.35,884.0,99.96,2.5,0.0
97,30,MAA,nnavkum,0.18,708.0,99.97,8.5,2.0
98,30,MAA,sarselv,0.18,1216.0,99.99,6.5,4.5
99,30,MAA,nchamoli,0.01,748.0,100.00,3.5,6.0

In [44]:
df_sql_result.to_csv(r'C:\Users\arvinmvn\desktop\sqresult.csv')

In [27]:
##TM comparision at an l5 Org level:- this will help l5s know performances of TM within their span. 

sql='''
select week,site,Level4Manager as SiteLead,
Level3Manager as SrOM,Level2Manager as OM,
Level1Manager as TM,
round(sum(ScheduleNonAdherence),2)as ScheduleNonAdhere,
(SELECT COUNT(CASE WHEN LateloginorNot='Late Login' THEN 1 ELSE NULL END)
) as Latelogins
,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) as shift_adherence,
sum(ProcessCount) as Throughout,sum(IsonUnplannedleave) as UnplannedLeave,
sum(IsonPlannedLeave) as PlannnedLeave

from Schedule_Manager
where week = 30 and Level2manager='rbbashee'
group by week,Level1manager
order by week asc

''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

,Week,Site,SiteLead,SrOM,OM,TM,ScheduleNonAdhere,Latelogins,schedulehours,shift_adherence,Throughout,UnplannedLeave,PlannnedLeave
0,30,MAA,mnagal,radhikac,rbbashee,czvij,9.17,96,1252.0,99.27,40309,12.5,2.0
1,30,MAA,mnagal,radhikac,rbbashee,danijos,5.08,48,1071.0,99.53,51928,8.0,3.0
2,30,MAA,mnagal,radhikac,rbbashee,paramss,8.20,24,1156.0,99.29,61039,15.5,1.0
3,30,MAA,mnagal,radhikac,rbbashee,sarselv,0.18,59,1216.0,99.99,0,6.5,4.5

In [32]:
## TM vs late Login Trends WoW
sql='''
select a.level1manager as TM,
max(a.week22) as Week22,
max(a.week23)as Week23,
max(a.week24)as Week24,
max(a.week25)as Week25,
max(a.week26)as Week26,
max(a.week27)as Week27,
max(a.week28)as Week28,
max(a.week29)as Week29,
max(a.week30)as Week30
from
(
select level1manager,
COUNT(CASE WHEN Week= 22 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week22,
COUNT(CASE WHEN Week= 23 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week23,
COUNT(CASE WHEN Week= 24 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week24,
COUNT(CASE WHEN Week= 25 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week25,
COUNT(CASE WHEN Week= 26 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week26,
COUNT(CASE WHEN Week= 27 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week27,
COUNT(CASE WHEN Week= 28 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week28,
COUNT(CASE WHEN Week= 29 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week29,
COUNT(CASE WHEN Week= 30 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week30
from Schedule_Manager
group by level1manager,week
)a

group by a.level1manager

''';

    
df = pd.read_sql_query(sql,conn)
df.head()

,TM,Week22,Week23,Week24,Week25,Week26,Week27,Week28,Week29,Week30
0,abhirama,72,74,81,84,77,79,77,88,95
1,abhishk,74,70,73,77,64,87,93,88,98
2,abrsamue,107,109,94,110,97,86,76,84,84
3,ahja,55,54,55,54,52,46,51,53,74
4,aiswarv,9,4,6,3,3,9,16,37,53

In [34]:
sql='''

select week,level1manager as TM,count(LateloginorNot)as LateLogins
from Schedule_Manager
where LateloginorNot='Late Login' and level1manager = 'sarselv'
group by week


''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

   Week       TM  LateLogins
0    22  sarselv          87
1    23  sarselv          77
2    24  sarselv          78
3    25  sarselv          69
4    26  sarselv          68
5    27  sarselv          70
6    28  sarselv          66
7    29  sarselv          57
8    30  sarselv          59

In [36]:
## Top Late Login DAs across site

sql='''

select week,site,level1manager as TM,DAalias as DA,count(LateloginorNot)as LateLogins
from Schedule_Manager
where LateloginorNot='Late Login'
group by daalias


''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

      Week Site        TM        DA  LateLogins
0       23  MAA     czvij  aaalagap          38
1       22  HYD  ushasree   aaazmha          32
2       22  MAA  saranyna  aafafroz          18
3       22  MAA    uvinod  aagarkhe          34
4       22  MAA     jdara   aakgupt          28
...    ...  ...       ...       ...         ...
2276    22  MAA   nnavkum  zasandhy           1
2277    22  MAA  nchamoli  ziauhoda          39
2278    22  HYD   amanjyo   znmohdh          15
2279    22  HYD  csushmit   zohairi          31
2280    22  MAA   sarselv  zppatanw          36

[2281 rows x 5 columns]

In [60]:
## DA vs late Login Trends WoW with L4 level Split , this is sorted to top late login contributors avg

sql='''
select *
from (
select *,
round((avg(b.week22) + avg(b.week23) + avg(b.week24) + avg(b.week25) + avg(b.week26))/6,2) as average
from
(
select a.DA as DA_Latelogins,
max(a.week22) as Week22,
max(a.week23)as Week23,
max(a.week24)as Week24,
max(a.week25)as Week25,
max(a.week26)as Week26,
max(a.week27)as Week27,
max(a.week28)as Week28,
max(a.week29)as Week29,
max(a.week30)as Week30
from
(
select level1manager as TM,daalias as DA,
COUNT(CASE WHEN Week= 22 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week22,
COUNT(CASE WHEN Week= 23 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week23,
COUNT(CASE WHEN Week= 24 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week24,
COUNT(CASE WHEN Week= 25 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week25,
COUNT(CASE WHEN Week= 26 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week26,
COUNT(CASE WHEN Week= 27 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week27,
COUNT(CASE WHEN Week= 28 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week28,
COUNT(CASE WHEN Week= 29 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week29,
COUNT(CASE WHEN Week= 30 and LateloginorNot='Late Login' THEN 1 ELSE NULL END) AS Week30
from Schedule_Manager
group by daalias,week
)a
where a.TM = 'czvij' 
group by a.DA
)b
group by b.DA_Latelogins
)c
group by c.DA_Latelogins, c.average
''';

    
df = pd.read_sql_query(sql,conn)
df.head()

,DA_Latelogins,Week22,Week23,Week24,Week25,Week26,Week27,Week28,Week29,Week30,average
0,aaalagap,0,5,5,5,5,0,0,0,0,3.33
1,abdarsha,0,0,0,0,0,0,0,2,3,0.00
2,amzrashm,0,0,0,0,0,0,0,0,0,0.00
3,arvinmvn,0,0,0,0,0,0,0,0,1,0.00
4,baravnd,0,0,0,0,0,0,0,5,5,0.00

In [84]:
## Most Planned leaves 6 Weeks trend

## WoW L5 level comparision WoW of shift adherence

sql='''

select * 
from 
(
select *,
round((avg(b.week22) + avg(b.week23) + avg(b.week24) + avg(b.week25) + avg(b.week26))/6,2) as average 
from
(
select a.DA as DA_PlannedLeaves,
max(a.week22) as Week22,
max(a.week23)as Week23,
max(a.week24) as Week24,
max(a.week25) as Week25,
max(a.week26) as Week26,
max(a.week27) as Week27,
max(a.week28) as Week28,
max(a.week29) as Week29,
max(a.week30) as Week30
from
(
select daalias as DA, level1manager as TM,
CASE WHEN Week = 22
THEN sum(IsonUnplannedleave) 
ELSE 0 END AS Week22,
CASE WHEN Week = 23
THEN sum(IsonUnplannedleave)
ELSE 0 END AS Week23,
CASE WHEN Week = 24
THEN sum(IsonUnplannedleave)
ELSE 0 END AS Week24,
CASE WHEN Week = 25
THEN sum(IsonUnplannedleave)
ELSE 0 END AS Week25,
CASE WHEN Week = 26
THEN sum(IsonUnplannedleave)
ELSE 0 END AS Week26,
CASE WHEN Week = 27
THEN sum(IsonUnplannedleave)
ELSE 0 END AS Week27,
CASE WHEN Week = 28
THEN sum(IsonUnplannedleave)
ELSE 0 END AS Week28,
CASE WHEN Week = 29
THEN sum(IsonUnplannedleave)
ELSE 0 END AS Week29,
CASE WHEN Week = 30
THEN sum(IsonUnplannedleave)
ELSE 0 END AS Week30

from Schedule_Manager
where tm = 'czvij' 
group by daalias,week
) a
group by a.DA
) b
group by b.DA_plannedleaves
) c
group by c.DA_plannedleaves
order by c.average desc

''';

    
df = pd.read_sql_query(sql,conn)
df.head(20)

,DA_PlannedLeaves,Week22,Week23,Week24,Week25,Week26,Week27,Week28,Week29,Week30,average
0,ssria,2.0,4.0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.00
1,mnzvm,1.0,2.0,1.0,1.0,0.5,0,0.0,0.0,0.0,0.92
2,vuumapa,0.0,4.0,0.5,0.0,0.0,0,0.0,0.0,0.0,0.75
3,suriyavp,1.0,3.5,0.0,0.0,0.0,0,0.0,0.0,0.0,0.75
4,nkumaryn,1.0,1.0,0.0,0.5,1.0,0,0.0,0.0,0.0,0.58
5,krevathy,1.0,1.0,0.0,1.0,0.0,0,0.0,0.0,0.0,0.50
6,vsndhy,1.0,0.0,0.0,0.5,1.0,0,0.0,0.0,0.0,0.42
7,hkumryh,1.0,0.0,0.0,1.0,0.5,0,0.0,0.0,0.0,0.42
8,ssujat,1.0,0.0,0.0,0.0,1.0,0,0.0,0.0,0.0,0.33
9,snehadan,0.5,0.0,1.0,0.0,0.0,0,0.0,0.0,0.0,0.25
10,sbvenkat,0.0,0.0,1.0,0.0,0.5,0,0.0,0.0,0.0,0.25
11,mzprabha,1.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.17
12,krthisw,0.0,0.0,0.0,1.0,0.0,0,0.0,0.0,0.0,0.17
13,srkamara,0.0,0.0,0.0,0.0,0.5,0,0.0,0.0,0.0,0.08
14,pmanjus,0.0,0.0,0.5,0.0,0.0,0,0.0,0.0,0.0,0.08
15,ganabr,0.0,0.0,0.0,0.0,0.5,0,0.0,0.0,0.0,0.08
16,aaalagap,0.0,0.0,0.5,0.0,0.0,0,0.0,0.0,0.0,0.08
17,vnsar,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00
18,trejaas,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00
19,szprsh,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.5,0.00

In [95]:
df_SQL.to_csv(r'C:\Users\arvinmvn\Desktop\ADS_SM_SQL.csv')
df_SQL.head()

,index,Week,ScheduleLoginTimeStamp,FirstlogintimeTimeStamp,LoginDeficit,LateloginorNot,CalendarDate,Site,Costcentre,DAAlias,...,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,LostHours,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours
0,0,22,09:30:00,09:30:35,0.583333,Late Login,2021-06-05,HYD,5140,aapramzn,...,1.0,0.0,459,0.0,0.0,,11.5978,8.0,0.0000,NaN
1,1,22,01:30:00,01:30:10,0.166667,Late Login,2021-06-05,HYD,5140,afeefr,...,1.0,0.0,5,0.0,0.0,,9.1061,8.0,0.0000,NaN
2,2,22,04:30:00,04:41:57,11.95,Late Login,2021-06-05,HYD,5140,akhankqd,...,1.0,0.0,415,0.0,0.0,,9.2331,8.0,0.0000,NaN
3,3,22,04:30:00,04:35:52,5.86667,Late Login,2021-06-05,HYD,5140,akumallv,...,1.0,0.0,33,0.0,0.0,,8.9097,8.0,0.0747,NaN
4,4,22,09:30:00,09:31:05,1.08333,Late Login,2021-06-05,HYD,5140,aleshwa,...,1.0,0.0,0,0.0,0.0,,8.9850,8.0,0.0000,NaN