In [1]:
## import the liberaries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df_sheet1= pd.read_excel(r'C:\Users\arvinmvn\Downloads\W39 - IP metrics.xlsx',)
df_sheet2= pd.read_excel(r'C:\Users\arvinmvn\Downloads\W39 - NPT.xlsx',)
df_sheet3= pd.read_excel(r'C:\Users\arvinmvn\Downloads\Week 25 tmda.xlsx',sheet_name='w29')

In [3]:
df_sheet1.insert(1, "Calendar Date","")
df_sheet1['Calendar Date']=pd.to_datetime(df_sheet1['calendar_date'],format='%Y-%m-%d %H:%M:%S')
for i in range(0,len(df_sheet1)):
    df_sheet1['Calendar Date'][i] = df_sheet1['calendar_date'][i].date()
df_sheet1.head()

<ipython-input-3-2a2e687e26fd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sheet1['Calendar Date'][i] = df_sheet1['calendar_date'][i].date()
C:\Users\arvinmvn\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,DA Login,Calendar Date,calendar_date,UPH,Average Handling Time (in sec),Velocity,Utilization %,NPT %,Processed Units,Production Hours,...,Manual Skip Hours,Non Mercury Processing Hours,NPT,Idle No Data,Training Hours,Shift Hours,Lost Hours,System Issues,Schedule Non Adherence Hours,System Latency
0,rshwar,2021-09-26,2021-09-26,NaN,NaN,NaN,NaN,NaN,0,0,...,0.0000,0.0000,0.0000,0.0000,0.0000,0,0.0,0.0,0.0,0.0000
1,rshwar,2021-09-27,2021-09-27,NaN,NaN,NaN,NaN,NaN,0,0,...,0.0000,0.0000,0.0000,0.0000,0.0000,0,0.0,0.0,0.0,0.0000
2,rshwar,2021-09-28,2021-09-28,38.750,52.5739,68.4749,0.8895,0.0662,310,8,...,0.0750,0.1775,0.3511,0.2347,2.7042,9,0.0,0.0,0.0,0.0130
3,rshwar,2021-09-29,2021-09-29,49.875,53.5957,67.1694,0.8249,0.1750,399,8,...,0.0608,0.1463,1.2983,0.0000,0.6642,9,0.0,0.0,0.0,0.0328
4,rshwar,2021-09-30,2021-09-30,50.750,59.6642,60.3376,0.9658,0.0341,406,8,...,0.1122,0.2242,0.2467,0.0000,0.8144,9,0.0,0.0,0.0,0.0303

In [4]:
df_sheet2.head()

   DA login  Training  Project  Overturned Review  Meeting  Excess Break
0  abdarsha   10.8755  11.9275             0.0058   1.0128        0.0000
1  arvinmvn    0.6417  31.4153             0.0000   1.5519        0.0500
2   baravnd    5.7131   0.0000             3.4370   0.0000        0.0131
3   brindhm    0.1525   5.0144             0.0000   0.3014        0.0000
4  cliffpal    0.1175   0.0000             0.0000   0.0000        0.1125

In [5]:
df_sheet3.head()

   DA Alias Level 1 Manager
0  aagarkhe          uvinod
1   aakgupt           jdara
2     aarjk        kkathire
3     aarzo        kartramn
4  abrissac        elvandov

In [6]:
## clean all sheets

##clean DA timeline sheet 1

## Steps done
# sort DAs in low to high
# remove process counts 0
## delete column D

## code for above steps ##

df_sheet1=df_sheet1.sort_values(by=['DA Login']) # sort sheet 1 by DA login
df_sheet1= df_sheet1.dropna(subset=['Calendar Date']) ## drop First login time NA 
df_sheet1=df_sheet1[df_sheet1['Processed Units']!=0] ## remove all the process counts 0
#df_sheet1=df_sheet1.drop(['Skill Value ID'], axis=1) ## remove skill value id column

## cleaning NPT sheet 2 
#df_sheet2= df_sheet2.drop(columns=['Idle No Data']) ## drop idle no data column as it is present in sheet 1
df_sheet2=df_sheet2.rename(columns={"DA login": "DA Login"})
## Clean DA vs TM sheet 3

df_sheet3=df_sheet3.rename(columns={"DA Alias": "DA Login"}) # normalize name for sheet 3 DA login, same subset as DA Alias

In [7]:
## Merge sheet 1, 2 and 3

df_merge = pd.merge(df_sheet1, df_sheet2, on="DA Login",how="inner")

#df_merge = pd.merge(df_merge, df_sheet2, on="DA Login",how="inner")
df_merge=pd.merge(df_merge,df_sheet3,on="DA Login",how="inner")
df_merge=df_merge.drop_duplicates()
print(df_merge.columns)

Index(['DA Login', 'Calendar Date', 'calendar_date', 'UPH',
       'Average Handling Time (in sec)', 'Velocity', 'Utilization %', 'NPT %',
       'Processed Units', 'Production Hours', 'Non Mercury Production Hours',
       'DA LoggedIn Hours', 'Processed Hours', 'Manual Skip Hours',
       'Non Mercury Processing Hours', 'NPT', 'Idle No Data', 'Training Hours',
       'Shift Hours', 'Lost Hours', 'System Issues',
       'Schedule Non Adherence Hours', 'System Latency', 'Training', 'Project',
       'Overturned Review', 'Meeting', 'Excess Break', 'Level 1 Manager'],
      dtype='object')

In [8]:
## Performance Metrics Table
table_PM= pd.pivot_table(df_merge, values=['DA LoggedIn Hours', 'Processed Hours','Processed Units','Average Handling Time (in sec)','Velocity','Manual Skip Hours','Lost Hours'],
                         index=['DA Login','Level 1 Manager',], 
                         columns= ['Calendar Date'] ,margins=False,
                         margins_name='total', aggfunc={'Average Handling Time (in sec)':np.mean,
                                                        'DA LoggedIn Hours':np.sum,
                                                        'Lost Hours':np.sum,
                                                        'Manual Skip Hours':np.sum,
                                                        'Processed Hours':np.sum,
                                                        'Processed Units':np.sum,
                                                        'Velocity':np.mean} , fill_value=0)
#pd.set_option('display.max_rows', df_merge.shape[0]+1)
table_PM.round(2)

                         Average Handling Time (in sec)                        \
Calendar Date                                2021-09-26 2021-09-27 2021-09-28
DA Login Level 1 Manager
abdarsha czvij                                     0.00       0.00      40.63
baravnd  czvij                                     0.00      42.54      51.00
girirag  czvij                                     0.00       0.00      64.44
gkrimzn  czvij                                     0.00       0.00      46.59
goprah   czvij                                     0.00       0.00       0.00
jeswm    czvij                                     0.00       0.00      56.57
kmaryjr  czvij                                     0.00       0.00      36.32
mnzraja  czvij                                    23.85      35.39      30.92
reeanm   czvij                                     0.00      34.45      51.95
rmks     czvij                                     0.00      70.16      64.58
rmsntos  czvij                                     0.00       0.00      64.76
rshwar   czvij                                     0.00       0.00      52.57
rubinreb czvij                                     0.00       0.00      63.16
sakthih  czvij                                     0.00       0.00      39.05
sharupas czvij                                     0.00      63.87      59.77
solovivi czvij                                     0.00       0.00      36.14
svenamz  czvij                                     0.00      71.82      68.36

                                                                      \
Calendar Date            2021-09-29 2021-09-30 2021-10-01 2021-10-02
DA Login Level 1 Manager
abdarsha czvij                 0.00       0.00       0.00       0.00
baravnd  czvij                49.79      53.00      26.39      43.86
girirag  czvij                50.52      47.20      55.30       0.00
gkrimzn  czvij                46.95      39.24      27.91       0.00
goprah   czvij                 0.00       0.00      46.43       0.00
jeswm    czvij                59.59      63.25      44.97       0.00
kmaryjr  czvij                34.96      32.47      29.19      32.70
mnzraja  czvij                29.10      58.31       0.00       0.00
reeanm   czvij                37.76      31.89       0.00       0.00
rmks     czvij                51.36      58.97      54.51       0.00
rmsntos  czvij                78.27      56.64      80.64       0.00
rshwar   czvij                53.60      59.66      38.54      31.28
rubinreb czvij                49.13      47.49      41.40       0.00
sakthih  czvij                42.53      42.23      35.39       0.00
sharupas czvij                53.69      70.95      44.82       0.00
solovivi czvij                28.27      25.75      21.93       0.00
svenamz  czvij                46.17      68.45       0.00       0.00

                         DA LoggedIn Hours                        ...  \
Calendar Date                   2021-09-26 2021-09-27 2021-09-28  ...
DA Login Level 1 Manager                                          ...
abdarsha czvij                         0.0       0.00       8.96  ...
baravnd  czvij                         0.0       9.00       9.09  ...
girirag  czvij                         0.0       0.00       9.04  ...
gkrimzn  czvij                         0.0       0.00       9.02  ...
goprah   czvij                         0.0       0.00       0.00  ...
jeswm    czvij                         0.0       0.00       9.03  ...
kmaryjr  czvij                         0.0       0.00       9.01  ...
mnzraja  czvij                         9.0       9.00       9.00  ...
reeanm   czvij                         0.0       8.93       9.00  ...
rmks     czvij                         0.0       3.34       9.07  ...
rmsntos  czvij                         0.0       0.00       9.00  ...
rshwar   czvij                         0.0       0.00       9.01  ...
rubinreb czvij                         0.0       0.00       9.01  ...
sakthih  czvij                         0.0       0.00       8.62  ...
sharupas czvij                         0.0       8.99       9.00  ...
solovivi czvij                         0.0       0.00       9.01  ...
svenamz  czvij                         0.0       9.02       9.01  ...

                         Processed Units                         Velocity  \
Calendar Date                 2021-09-30 2021-10-01 2021-10-02 2021-09-26
DA Login Level 1 Manager
abdarsha czvij                         0          0          0       0.00
baravnd  czvij                       489        310        160       0.00
girirag  czvij                       468        293          0       0.00
gkrimzn  czvij                       645        257          0       0.00
goprah   czvij                         0        114          0       0.00
jeswm    czvij                       399        183          0       0.00
kmaryjr  czvij                       689        243        200       0.00
mnzraja  czvij                       306          0          0     150.93
reeanm   czvij                       159          0          0       0.00
rmks     czvij                       438        114          0       0.00
rmsntos  czvij                       407         47          0       0.00
rshwar   czvij                       406        244        198       0.00
rubinreb czvij                       527        170          0       0.00
sakthih  czvij                        48        190          0       0.00
sharupas czvij                       357        264          0       0.00
solovivi czvij                       641        121          0       0.00
svenamz  czvij                       309          0          0       0.00

                                                                      \
Calendar Date            2021-09-27 2021-09-28 2021-09-29 2021-09-30
DA Login Level 1 Manager
abdarsha czvij                 0.00      88.60       0.00       0.00
baravnd  czvij                84.63      70.59      72.31      67.93
girirag  czvij                 0.00      55.86      71.25      76.28
gkrimzn  czvij                 0.00      77.28      76.68      91.74
goprah   czvij                 0.00       0.00       0.00       0.00
jeswm    czvij                 0.00      63.64      60.41      56.92
kmaryjr  czvij                 0.00      99.12     102.98     110.86
mnzraja  czvij               101.71     116.43     123.70      61.74
reeanm   czvij               104.51      69.30      95.33     112.88
rmks     czvij                51.31      55.74      70.09      61.05
rmsntos  czvij                 0.00      55.59      45.99      63.55
rshwar   czvij                 0.00      68.47      67.17      60.34
rubinreb czvij                 0.00      57.00      73.28      75.81
sakthih  czvij                 0.00      92.18      84.64      85.24
sharupas czvij                56.36      60.23      67.05      50.74
solovivi czvij                 0.00      99.60     127.33     139.79
svenamz  czvij                50.13      52.66      77.98      52.59


Calendar Date            2021-10-01 2021-10-02
DA Login Level 1 Manager
abdarsha czvij                 0.00       0.00
baravnd  czvij               136.43      82.08
girirag  czvij                65.10       0.00
gkrimzn  czvij               128.97       0.00
goprah   czvij                77.54       0.00
jeswm    czvij                80.05       0.00
kmaryjr  czvij               123.33     110.11
mnzraja  czvij                 0.00       0.00
reeanm   czvij                 0.00       0.00
rmks     czvij                66.04       0.00
rmsntos  czvij                44.64       0.00
rshwar   czvij                93.40     115.10
rubinreb czvij                86.96       0.00
sakthih  czvij               101.71       0.00
sharupas czvij                80.32       0.00
solovivi czvij               164.13       0.00
svenamz  czvij                 0.00       0.00

[17 rows x 49 columns]

In [9]:
## NPT Report
table_NPT= pd.pivot_table(df_merge, values=['Excess Break', 'Meeting','Training','Overturned Review'],
                         index=['DA Login','Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
#pd.set_option('display.max_rows', df_sheet2.shape[0]+1)
table_NPT["sum"] = table_NPT.sum(axis=1)
table_NPT.round(2)

,,Excess Break,Meeting,Overturned Review,Training,sum
DA Login,Level 1 Manager,,,,,
abdarsha,czvij,0.00,1.01,0.01,10.88,11.89
baravnd,czvij,0.08,0.00,20.62,34.28,54.98
girirag,czvij,0.65,0.00,3.24,34.46,38.35
gkrimzn,czvij,0.00,0.00,29.47,11.36,40.83
goprah,czvij,0.00,0.00,4.90,1.54,6.44
jeswm,czvij,59.35,0.00,32.35,9.80,101.49
kmaryjr,czvij,0.00,0.00,35.26,13.09,48.35
mnzraja,czvij,0.04,1.30,16.13,28.09,45.56
reeanm,czvij,0.59,0.00,24.02,13.73,38.34
rmks,czvij,0.26,0.00,22.19,23.88,46.34
rmsntos,czvij,0.03,0.00,29.25,23.54,52.82
rshwar,czvij,0.05,0.00,16.62,42.72,59.40
rubinreb,czvij,0.00,0.00,32.05,13.57,45.62
sakthih,czvij,0.00,0.00,36.21,15.22,51.44
sharupas,czvij,0.27,0.00,18.54,27.17,45.99
solovivi,czvij,0.00,0.00,43.54,11.27,54.81
svenamz,czvij,0.00,0.00,9.36,16.98,26.34

In [13]:
## Lost Hours Report
df_merge["Idle"]=0
df_merge["Idle No Data"]=0
table_LH= pd.pivot_table(df_merge, values=['Idle','Idle No Data','System Latency'],
                         index=['DA Login','Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
#pd.set_option('display.max_rows', df_sheet2.shape[0]+1)
table_LH["Total"] = table_LH.sum(axis=1)
table_LH.round(2)

                          Idle  Idle No Data  System Latency  Total
DA Login Level 1 Manager
abdarsha czvij               0             0            0.06   0.06
baravnd  czvij               0             0            0.12   0.12
girirag  czvij               0             0            0.06   0.06
gkrimzn  czvij               0             0            0.06   0.06
goprah   czvij               0             0            0.01   0.01
jeswm    czvij               0             0            0.06   0.06
kmaryjr  czvij               0             0            0.07   0.07
mnzraja  czvij               0             0            0.28   0.28
reeanm   czvij               0             0            0.06   0.06
rmks     czvij               0             0            0.12   0.12
rmsntos  czvij               0             0            0.04   0.04
rshwar   czvij               0             0            0.11   0.11
rubinreb czvij               0             0            0.04   0.04
sakthih  czvij               0             0            0.07   0.07
sharupas czvij               0             0            0.24   0.24
solovivi czvij               0             0            0.15   0.15
svenamz  czvij               0             0            0.09   0.09

In [12]:
#NPT Utilization Report

table_UR= pd.pivot_table(df_merge, values=['Utilization %','NPT %'],
                         index=['DA Login','Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
#pd.set_option('display.max_rows', df_merge.shape[0]+1)
table_UR["Total"] = table_UR.sum(axis=1)
table_UR.round(2)

                          NPT %  Utilization %  Total
DA Login Level 1 Manager
abdarsha czvij             0.79           0.21   1.00
baravnd  czvij             0.62           5.32   5.93
girirag  czvij             0.16           3.78   3.94
gkrimzn  czvij             0.98           3.01   3.99
goprah   czvij             0.76           0.24   0.99
jeswm    czvij             1.72           2.25   3.97
kmaryjr  czvij             0.97           4.01   4.98
mnzraja  czvij             0.51           4.48   4.99
reeanm   czvij             0.69           2.61   3.30
rmks     czvij             0.80           4.03   4.83
rmsntos  czvij             1.19           2.80   4.00
rshwar   czvij             0.61           4.32   4.93
rubinreb czvij             1.09           2.88   3.97
sakthih  czvij             1.66           2.26   3.92
sharupas czvij             0.58           4.39   4.97
solovivi czvij             1.45           2.21   3.65
svenamz  czvij             0.34           3.65   3.99

In [14]:
## Bulk Mail Adherence Summary

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')

    
for j in range (0,len(table_PM.index.get_level_values('DA Login'))):
    
    table_PM_one= pd.pivot_table(df_merge, values=['DA LoggedIn Hours', 'Processed Hours','Processed Units','Average Handling Time (in sec)'],
                         index=['DA Login','Level 1 Manager',], 
                         columns= ['Calendar Date'] ,margins=False,
                         margins_name='total', aggfunc={'Average Handling Time (in sec)':np.mean,
                                                        'DA LoggedIn Hours':np.sum,
                                                        'Processed Hours':np.sum,
                                                        'Processed Units':np.sum} , fill_value=0)
    table_PM_two= pd.pivot_table(df_merge, values=['Velocity','Manual Skip Hours','Lost Hours'],
                         index=['DA Login','Level 1 Manager',], 
                         columns= ['Calendar Date'] ,margins=False,
                         margins_name='total', aggfunc={'Lost Hours':np.sum,
                                                        'Manual Skip Hours':np.sum,
                                                        'Velocity':np.mean} , fill_value=0)
#pd.set_option('display.max_rows', df_merge.shape[0]+1)
    
    table_NPT= pd.pivot_table(df_merge, values=['Excess Break', 'Meeting','Training','Overturned Review'],
                         index=['DA Login','Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.mean , fill_value=0)
    table_NPT["Total"] = table_NPT.sum(axis=1)
    
    table_LH= pd.pivot_table(df_merge, values=['Idle','Idle No Data','System Latency'],
                         index=['DA Login','Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.mean, fill_value=0)

    table_LH["Total"] = table_LH.sum(axis=1)
    
    table_UR= pd.pivot_table(df_merge, values=['Utilization %','NPT %'],
                         index=['DA Login','Level 1 Manager'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.mean , fill_value=0)

    pd.set_option('display.max_rows', df_merge.shape[0]+1)

    mail = outlook.CreateItem(0)

    mail.Subject = 'ADS DA:- KPI Summary Report'
    #mail.To='arvinmvn@amazon.com'
    mail.To = table_PM.index.get_level_values('DA Login')[j]+'@amazon.com' 
    mail.CC = table_PM.index.get_level_values('Level 1 Manager')[j] + '@amazon.com'
        
    
## i-> position of data in dataframe
    mail.HTMLBody = f"<h2>{'Hi ' + table_PM.index.get_level_values('DA Login')[j] + ','}<h2>"   + '''<h3> Please find your KPI summary for the Week <h3>'''  + '''<h3>Performance Metrics Table 1</h3>
                   {}'''.format(table_PM_one[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>Performance Metrics Table 2 </h3>
                   {}'''.format(table_PM_two[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>Lost Hours Table</h3>
                   {}'''.format(table_LH[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>NPT Table</h3>
                   {}'''.format(table_NPT[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>Utilization Table</h3>
                   {}'''.format(table_UR[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render())
    
    ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()