In [30]:
## import the liberaries
import pandas as pd
import numpy as np
import seaborn as sns

In [31]:
## Read the files
df_sheet1= pd.read_excel(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Hourly Throughput Automation_Test_Data2.xlsx',sheet_name='Sheet1')
df_sheet2= pd.read_excel(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Hourly Throughput Automation_Test_Data2.xlsx',sheet_name='Sheet2')
df_sheet3= pd.read_excel(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Hourly Throughput Automation_Test_Data2.xlsx',sheet_name='Sheet3')

In [32]:
## Read sheet1
df_sheet1.head()

         DA  Training  Idle No Data  Excess Break  Overturned Review  Meeting
0  arvinmvn  0.000000             0      0.000000                  0        0
1  dennypau  0.932222             0      0.046111                  0        0

In [33]:
## Read sheet 2
df_sheet2.head()

,S No,DA Login,First Login Time,Current Status,UPH,AHT (In sec),Velocity,Utilization %,NPT %,Processed Units,...,Manual Skip Hours,Non Mercury Processing Hours,Staff Hours,NPT,Idle No Data,Training Hours,Lost Hours,System Issue,System Latency,Schedule Non Adherence
0,1,arvinmvn,2021-05-12 04:30:04,mercury_production,NaN,37.991736,94.757451,0.983077,0.016923,242,...,0.013611,0.112013,0,0.046111,0,0.932222,0.000000,0,0.012709,0.000000
1,2,dennypau,2021-05-12 01:28:52,mercury_production,96.0,31.399740,114.650632,0.838160,0.000000,768,...,0.000000,-0.001736,8,0.000000,0,0.000000,1.294722,0,0.008403,1.294722

In [34]:
## Read sheet 3
df_sheet3.head()

  login_name supervisor_login_name
0   arvinmvn              keerdoss
1   dennypau              arvinmvn

In [35]:
## the DA column in sheet 1 and the login_name in sheet 2 contains the DA IDs , let's rename the ID
## to common name DA Alias and combine the cells with the common metrics.

## Rename DA column

df_sheet1=df_sheet1.rename(columns={"DA": "DA Login"})
df_sheet3=df_sheet3.rename(columns={"login_name": "DA Login"})

In [36]:
df_sheet1=df_sheet1.drop(columns=['Idle No Data'])

In [37]:
## Merge Sheet 1,2 and 3

df_merge = df_sheet2.merge(df_sheet1,on = "DA Login", how = "inner") ## combine sheet 1 and 2
df_merge = df_merge.merge(df_sheet3,on = "DA Login", how = "inner") ## combine merge(1,2) and 3
#print(df_merge.columns)
df_merge=df_merge.round(2)
print(df_merge.columns)

Index(['S No', 'DA Login', 'First Login Time', 'Current Status', 'UPH',
       'AHT (In sec)', 'Velocity', 'Utilization %', 'NPT %', 'Processed Units',
       'Production Hours', 'Non Mercury Production Hours', 'DA LoggedIn Hr',
       'Processed Hours', 'Manual Skip Hours', 'Non Mercury Processing Hours',
       'Staff Hours', 'NPT', 'Idle No Data', 'Training Hours', 'Lost Hours',
       'System Issue', 'System Latency', 'Schedule Non Adherence', 'Training',
       'Excess Break', 'Overturned Review', 'Meeting',
       'supervisor_login_name'],
      dtype='object')

In [38]:
## Performance Metrics Table
table_PM= pd.pivot_table(df_merge, values=['DA LoggedIn Hr', 'Processed Hours','Processed Units','AHT (In sec)','Velocity','Manual Skip Hours','Lost Hours'],
                         index=['DA Login'], 
                         columns= [] ,margins=False,
                         margins_name='total', aggfunc=sum , fill_value=0)
#pd.set_option('display.max_rows', df_merge.shape[0]+1)
table_PM.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]).set_precision(2)

In [39]:
## NPT BreakDown Report
table_NPT= pd.pivot_table(df_merge, values=['Excess Break', 'Meeting','Training','Overturned Review'],
                         index=['DA Login'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
#pd.set_option('display.max_rows', df_sheet2.shape[0]+1)
table_NPT["sum"] = table_NPT.sum(axis=1)
table_NPT.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]).set_precision(2)

In [40]:
## Lost Hours Report
df_merge["Idle"]=0
table_LH= pd.pivot_table(df_merge, values=['Idle','Idle No Data','System Latency'],
                         index=['DA Login'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
#pd.set_option('display.max_rows', df_sheet2.shape[0]+1)
table_LH["Total"] = table_LH.sum(axis=1)
table_LH.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]).set_precision(2)

In [41]:
##Utilization Report

table_UR= pd.pivot_table(df_merge, values=['Utilization %','NPT %'],
                         index=['DA Login'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
#pd.set_option('display.max_rows', df_merge.shape[0]+1)
table_UR["Total"] = table_UR.sum(axis=1)
table_UR.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]).set_precision(2)

In [42]:
len(table_PM.index.get_level_values('DA Login'))

2

In [43]:
import win32com.client as win32
outlook = win32.Dispatch('outlook.application')

#list_da = df['DA Alias'].tolist()
#list_tm = df['Level 1 Manager'].unique()

    #list = ['danijos','dmaniva','paramss','sarselv','susriram'] 
    
for j in range (0,len(table_PM.index.get_level_values('DA Login'))):
    
    table_PM= pd.pivot_table(df_merge, values=['DA LoggedIn Hr', 'Processed Hours','Processed Units','AHT (In sec)','Velocity','Manual Skip Hours','Lost Hours'],
                         index=['DA Login','supervisor_login_name'], 
                         columns= [] ,margins=False,
                         margins_name='total', aggfunc=sum , fill_value=0)
    
    table_NPT= pd.pivot_table(df_merge, values=['Excess Break', 'Meeting','Training','Overturned Review'],
                         index=['DA Login','supervisor_login_name'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)
    table_NPT["sum"] = table_NPT.sum(axis=1)
    
    table_LH= pd.pivot_table(df_merge, values=['Idle','Idle No Data','System Latency'],
                         index=['DA Login','supervisor_login_name'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)

    table_LH["Total"] = table_LH.sum(axis=1)
    
    table_UR= pd.pivot_table(df_merge, values=['Utilization %','NPT %'],
                         index=['DA Login','supervisor_login_name'], 
                         columns= [] ,margins=False,
                         margins_name='total',aggfunc= np.sum , fill_value=0)

    pd.set_option('display.max_rows', df_merge.shape[0]+1)

    mail = outlook.CreateItem(0)

    mail.Subject = 'Test Report'
    #mail.To= 'arvinmvn@amazon.com'
    mail.To = table_PM.index.get_level_values('DA Login')[j]+'@amazon.com' 
    mail.CC = table_PM.index.get_level_values('supervisor_login_name')[j] + '@amazon.com'
        
    
## i-> position of data in dataframe
    mail.HTMLBody ='''<h3>Test.</h3>
                   {}'''.format(table_PM[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>Test.</h3>
                   {}'''.format(table_LH[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>Test.</h3>
                   {}'''.format(table_NPT[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3>Test.</h3>
                   {}'''.format(table_UR[j:j+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render())
    
    ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()