In [1]:
print ('sss')

sss

In [2]:
## WoW analysis using SQL

In [1]:
## import liberaries
import pandas as pd
import numpy as np
import sqlite3 as sql

In [2]:
## read the file
df= pd.read_csv(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Week 27.csv')
df.head()

,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,ADS Hire Date,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,2021-07-10 00:00:00,HYD,5140,aapramzn,skkarni,ankitjln,shukavni,deepasac,Y,2020-08-03 00:00:00,...,0.00,1.00,0,0,0.0,0.0,9.833333,8.0,0.0,1.833333
1,2021-07-10 00:00:00,HYD,5140,afeefr,ravrayal,bhawanam,rhuam,deepasac,Y,2018-07-16 00:00:00,...,0.00,1.00,0,0,0.0,0.0,0.000000,0.0,0.0,0.000000
2,2021-07-10 00:00:00,HYD,5140,akranthi,bchowdar,amitas,sonak,deepasac,Y,2018-03-26 00:00:00,...,1.05,1.05,0,489,0.0,0.0,9.042500,0.0,0.0,8.068889
3,2021-07-10 00:00:00,HYD,5140,animd,nehthaku,amitas,sonak,deepasac,Y,2018-07-02 00:00:00,...,0.00,1.00,0,0,0.0,0.0,9.996389,8.0,0.0,1.522500
4,2021-07-10 00:00:00,HYD,5140,anishbho,abhirama,femohamm,sonak,deepasac,Y,2019-02-25 00:00:00,...,0.00,1.00,0,0,0.0,0.0,0.000000,0.0,0.0,0.000000

In [3]:
##Replace the title to SQL

## Rename the parameters to make them SQL compliant

df = df.rename(columns = {'Calendar Date': 'CalendarDate',
                          'Cost centre': 'Costcentre',
                           'Schedule Login TimeStamp' :'ScheduleLoginTimeStamp',
                             'First login time TimeStamp':'FirstlogintimeTimeStamp',
                              'Login Deficit':'LoginDeficit',
                              'Late login or Not':'LateloginorNot',
                          'DA Alias': 'DAAlias',
                           'Level 1 Manager': 'Level1Manager',
                          'Level 2 Manager': 'Level2Manager',
                          'Levle 3 Manager': 'Level3Manager',
                          'Level 4 Manager': 'Level4Manager',
                           'Is DA Employed': 'IsDAEmployed',
                         'ADS Hire Date': 'ADSHireDate',
                          'Termination Date': 'TerminationDate',
                          'Has entry in Schedule Manager': 'HasentryinScheduleManager',
                           'Has Schedule': 'HasSchedule',
                          'Schedule Login Time': 'ScheduleLoginTime',
                          'Cost centre': 'Costcentre',
                          'First login time': 'Firstlogintime',
                           'Processed utterances on Mercury': 'ProcessedutterancesonMercury',
                          'Schedule hours w/o OT': 'Schedulehoursw/oOT',
                          'Schedule hours OT': 'SchedulehoursOT',
                          'Scheduled to work': 'Scheduledtowork',
                           'Total Schedule Hours': 'TotalScheduleHours',
                          'Paid hours w/o OT': 'Paidhoursw/oOT',
                          'Paid hours OT': 'PaidhoursOT',
                          'Total Paid Hours': 'TotalPaidHours',
                           'DA Alias': 'DAAlias',
                         'Calendar Date': 'CalendarDate',
                          'Staff hours w/o OT': 'Staffhoursw/oOT',
                          'Staff hours OT': 'StaffhoursOT',
                           'Total Staff Hours': 'TotalStaffHours',
                          'Paid Break - Regular Shift': 'PaidBreak-RegularShift',
                          'Paid Break for OT': 'PaidBreakforOT',
                          'Total Paid Break': 'TotalPaidBreak',
                           'Unpaid break - Regular Shift': 'Unpaidbreak-RegularShift',
                         'Process Count': 'ProcessCount',
                         'Is on Planned Leave': 'IsonPlannedLeave',
                         'Is on Unplanned leave': 'IsonUnplannedleave',
                         'Logged in hrs': 'Loggedinhrs',
                         'Schedule hours for SA': 'SchedulehoursforSA',
                         'Schedule Non Adherence': 'ScheduleNonAdherence',
                         'Lost Hours': 'LostHours',
                         'SA Schedule Hours': 'SAScheduleHours',
                         'Calculated OT Hours': 'CalculatedOTHours',}, inplace = False)
df.head()

,CalendarDate,Site,Costcentre,DAAlias,Level1Manager,Level2Manager,Level3Manager,Level4Manager,IsDAEmployed,ADSHireDate,...,PaidBreakforOT,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours
0,2021-07-10 00:00:00,HYD,5140,aapramzn,skkarni,ankitjln,shukavni,deepasac,Y,2020-08-03 00:00:00,...,0.00,1.00,0,0,0.0,0.0,9.833333,8.0,0.0,1.833333
1,2021-07-10 00:00:00,HYD,5140,afeefr,ravrayal,bhawanam,rhuam,deepasac,Y,2018-07-16 00:00:00,...,0.00,1.00,0,0,0.0,0.0,0.000000,0.0,0.0,0.000000
2,2021-07-10 00:00:00,HYD,5140,akranthi,bchowdar,amitas,sonak,deepasac,Y,2018-03-26 00:00:00,...,1.05,1.05,0,489,0.0,0.0,9.042500,0.0,0.0,8.068889
3,2021-07-10 00:00:00,HYD,5140,animd,nehthaku,amitas,sonak,deepasac,Y,2018-07-02 00:00:00,...,0.00,1.00,0,0,0.0,0.0,9.996389,8.0,0.0,1.522500
4,2021-07-10 00:00:00,HYD,5140,anishbho,abhirama,femohamm,sonak,deepasac,Y,2019-02-25 00:00:00,...,0.00,1.00,0,0,0.0,0.0,0.000000,0.0,0.0,0.000000

In [4]:
## Sql titled file to local csv path

df.to_csv(r'C:\Users\arvinmvn\desktop\adssmsqldfile.csv')

In [5]:
## map Path lib

from pathlib import Path
Path('sql.db').touch()

In [6]:
## connect to local

conn = sql.connect('sql.db')
c = conn.cursor()

In [9]:
df = pd.read_csv(r'C:\Users\arvinmvn\desktop\adssmsqldfile.csv')
df.to_sql('smsql', conn, if_exists='append', index=False)
df.head()

C:\Users\arvinmvn\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

,Unnamed: 0,CalendarDate,Site,Costcentre,DAAlias,Level1Manager,Level2Manager,Level3Manager,Level4Manager,IsDAEmployed,...,PaidBreakforOT,TotalPaidBreak,Unpaidbreak-RegularShift,ProcessCount,IsonPlannedLeave,IsonUnplannedleave,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours
0,0,2021-07-10 00:00:00,HYD,5140,aapramzn,skkarni,ankitjln,shukavni,deepasac,Y,...,0.00,1.00,0,0,0.0,0.0,9.833333,8.0,0.0,1.833333
1,1,2021-07-10 00:00:00,HYD,5140,afeefr,ravrayal,bhawanam,rhuam,deepasac,Y,...,0.00,1.00,0,0,0.0,0.0,0.000000,0.0,0.0,0.000000
2,2,2021-07-10 00:00:00,HYD,5140,akranthi,bchowdar,amitas,sonak,deepasac,Y,...,1.05,1.05,0,489,0.0,0.0,9.042500,0.0,0.0,8.068889
3,3,2021-07-10 00:00:00,HYD,5140,animd,nehthaku,amitas,sonak,deepasac,Y,...,0.00,1.00,0,0,0.0,0.0,9.996389,8.0,0.0,1.522500
4,4,2021-07-10 00:00:00,HYD,5140,anishbho,abhirama,femohamm,sonak,deepasac,Y,...,0.00,1.00,0,0,0.0,0.0,0.000000,0.0,0.0,0.000000

In [10]:
#Week
addColumn = "alter table smsql add column week int(2)"
c.execute(addColumn)

In [11]:
## for ScheduleLoginTimeStamp
addColumnone = "alter table smsql add column ScheduleLoginTimeStamp varchar(32)"
c.execute(addColumnone)

In [12]:
## for FirstlogintimeTimeStamp
addColumntwo = "alter table smsql add column FirstlogintimeTimeStamp varchar(32)"
c.execute(addColumntwo)

In [13]:
## for Late login or Not
addColumnfour = "alter table smsql add column LateloginorNot varchar(32)"
c.execute(addColumnfour)

In [14]:
## for Login Deficit
addColumnthree = "alter table smsql add column LoginDeficit varchar(32)"
c.execute(addColumnthree)

In [15]:
##test whether the columns are inserted properly

sql='''
select * from smsql

''';

    
df_sql = pd.read_sql_query(sql,conn)
df_sql.head(20)

,Unnamed: 0,CalendarDate,Site,Costcentre,DAAlias,Level1Manager,Level2Manager,Level3Manager,Level4Manager,IsDAEmployed,...,IsonUnplannedleave,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours,week,ScheduleLoginTimeStamp,FirstlogintimeTimeStamp,LateloginorNot,LoginDeficit
0,0,2021-07-10 00:00:00,HYD,5140,aapramzn,skkarni,ankitjln,shukavni,deepasac,Y,...,0.0,9.833333,8.0,0.000000,1.833333,None,None,None,None,None
1,1,2021-07-10 00:00:00,HYD,5140,afeefr,ravrayal,bhawanam,rhuam,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None
2,2,2021-07-10 00:00:00,HYD,5140,akranthi,bchowdar,amitas,sonak,deepasac,Y,...,0.0,9.042500,0.0,0.000000,8.068889,None,None,None,None,None
3,3,2021-07-10 00:00:00,HYD,5140,animd,nehthaku,amitas,sonak,deepasac,Y,...,0.0,9.996389,8.0,0.000000,1.522500,None,None,None,None,None
4,4,2021-07-10 00:00:00,HYD,5140,anishbho,abhirama,femohamm,sonak,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None
5,5,2021-07-10 00:00:00,HYD,5140,aravduss,venamith,bhawanam,rhuam,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None
6,6,2021-07-10 00:00:00,HYD,5140,ashwithb,rachrahu,hkbhosle,rhuam,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None
7,7,2021-07-10 00:00:00,HYD,5140,ayarlaga,lamakash,shavarun,shukavni,deepasac,Y,...,0.0,9.113611,8.0,0.000000,0.131111,None,None,None,None,None
8,8,2021-07-10 00:00:00,HYD,5140,ayesn,bchowdar,amitas,sonak,deepasac,Y,...,0.0,8.998611,8.0,0.000000,0.053611,None,None,None,None,None
9,9,2021-07-10 00:00:00,HYD,5140,bakadeel,snghuit,femohamm,sonak,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None
10,10,2021-07-10 00:00:00,HYD,5140,begushab,skkarni,ankitjln,shukavni,deepasac,Y,...,0.0,8.780000,8.0,0.196389,0.000000,None,None,None,None,None
11,11,2021-07-10 00:00:00,HYD,5140,bhagavh,bchowdar,amitas,sonak,deepasac,Y,...,0.0,9.235000,8.0,0.000000,0.335556,None,None,None,None,None
12,12,2021-07-10 00:00:00,HYD,5140,bhasowmy,vgnram,snishant,shukavni,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None
13,13,2021-07-10 00:00:00,HYD,5140,bibasava,ahja,hkbhosle,rhuam,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None
14,14,2021-07-10 00:00:00,HYD,5140,chakragm,nissteph,femohamm,sonak,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None
15,15,2021-07-10 00:00:00,HYD,5140,chjya,ahja,hkbhosle,rhuam,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None
16,16,2021-07-10 00:00:00,HYD,5140,cmsi,bchowdar,amitas,sonak,deepasac,Y,...,0.0,9.017778,8.0,0.000000,0.074167,None,None,None,None,None
17,17,2021-07-10 00:00:00,HYD,5140,daarani,nissteph,femohamm,sonak,deepasac,Y,...,0.0,8.765556,8.0,0.135833,0.000000,None,None,None,None,None
18,18,2021-07-10 00:00:00,HYD,5140,ddevapuj,bchowdar,amitas,sonak,deepasac,Y,...,0.0,8.997778,8.0,0.000000,0.007222,None,None,None,None,None
19,19,2021-07-10 00:00:00,HYD,5140,ehtahmed,radhikh,hkbhosle,rhuam,deepasac,Y,...,0.0,0.000000,0.0,0.000000,0.000000,None,None,None,None,None

In [211]:
##Data cleaning using SQL, in this code script we will insert 5 new colums week, SLTS,FLTS,LD,LateLoginornot
## We will pioneer the below steps and pull out clean data from this base
## Week values will be populated based on the calendar date timestamp
##SLTS and FLTS will be generated using the strptime of  SLT and FLT columns
## We will do a datetime subraction for the FLT and SLT and generate LD
##Using LD we will populate if the DA has logged in late or not


sql_insertweekdata='''

Update smsql
SET week = strftime('%W',calendardate);

''';

sql_insertScheduleLoginTimeStampdata='''

Update smsql

SET ScheduleLoginTimeStamp = strftime('%H:%M:%S',ScheduleLoginTime);


''';

sql_insertFirstlogintimeStampdata='''

Update smsql

SET FirstlogintimeTimeStamp = strftime('%H:%M:%S',Firstlogintime);


''';


sql_insertlogindeficitdata='''

Update smsql

SET LoginDeficit = round( 
( 
(
strftime('%H',FirstlogintimeTimeStamp)*60
+ strftime('%M',FirstlogintimeTimeStamp) 
+ strftime('%S',FirstlogintimeTimeStamp)/60 
) -

(
strftime('%H',ScheduleLoginTimeStamp)*60
+ strftime('%M',ScheduleLoginTimeStamp) 
+ strftime('%S',ScheduleLoginTimeStamp)/60 
)
)
,5);
'''

sql_insertLateloginorNotdata= '''
UPDATE smsql
   SET LateloginorNot = CASE
      WHEN LoginDeficit > 0 
      THEN 'latelogin'
      WHEN LoginDeficit < 0 
      THEN 'nolatelogin'
      ELSE 'nolatelogin'
      END
''';



sql_result = '''

select * from smsql

'''

    
#df_insertweekdata = pd.read_sql_query(sql_insertweekdata,conn)
#df_insertScheduleLoginTimeStampdata = pd.read_sql_query(sql_insertScheduleLoginTimeStampdata,conn)
#df_insertFirstlogintimeStampdata = pd.read_sql_query(sql_insertFirstlogintimeStampdata,conn)
#df_sql_insertlogindeficitdata = pd.read_sql_query(sql_insertlogindeficitdata,conn)
#df_sql_insertLateloginorNotdata= pd.read_sql_query(sql_insertLateloginorNotdata,conn)
#df =  pd.read_sql_query(sql_result,conn)
df.head()

,Unnamed: 0,CalendarDate,Site,Costcentre,DAAlias,Level1Manager,Level2Manager,Level3Manager,Level4Manager,IsDAEmployed,...,IsonUnplannedleave,Loggedinhrs,SAScheduleHours,ScheduleNonAdherence,CalculatedOTHours,week,ScheduleLoginTimeStamp,FirstlogintimeTimeStamp,LateloginorNot,LoginDeficit
0,0,2021-07-10 00:00:00,HYD,5140,aapramzn,skkarni,ankitjln,shukavni,deepasac,Y,...,0.0,9.833333,8.0,0.0,1.833333,27,09:30:00,09:29:56,nolatelogin,-1.0
1,1,2021-07-10 00:00:00,HYD,5140,afeefr,ravrayal,bhawanam,rhuam,deepasac,Y,...,0.0,0.000000,0.0,0.0,0.000000,27,01:30:00,None,nolatelogin,None
2,2,2021-07-10 00:00:00,HYD,5140,akranthi,bchowdar,amitas,sonak,deepasac,Y,...,0.0,9.042500,0.0,0.0,8.068889,27,08:30:00,08:26:57,nolatelogin,-4.0
3,3,2021-07-10 00:00:00,HYD,5140,animd,nehthaku,amitas,sonak,deepasac,Y,...,0.0,9.996389,8.0,0.0,1.522500,27,02:30:00,02:30:10,latelogin,0.0
4,4,2021-07-10 00:00:00,HYD,5140,anishbho,abhirama,femohamm,sonak,deepasac,Y,...,0.0,0.000000,0.0,0.0,0.000000,27,09:30:00,None,nolatelogin,None

In [213]:
## Building the master SQL query

sql='''
select week,site,Level4Manager as SiteLead,
Level3Manager as SrOM,Level2Manager as OM,
Level1Manager as TM,
round(sum(ScheduleNonAdherence),2)as ScheduleNonAdhere,
(SELECT COUNT(CASE WHEN LateloginorNot='latelogin' THEN 1 ELSE NULL END)
) as Latelogins
,round(sum(SAScheduleHours),2) as schedulehours,
round(100*(1 - sum(ScheduleNonAdherence)/sum(SAScheduleHours)),2) as shift_adherence,
sum(ProcessCount) as Throughout,sum(IsonUnplannedleave) as UnplannedLeave,
sum(IsonPlannedLeave) as PlannnedLeave

from smsql
where week = 27 and Level2manager='rbbashee'
group by week,Level1manager
order by week asc

''';

    
df_sql_result = pd.read_sql_query(sql,conn)
df_sql_result

,week,Site,SiteLead,SrOM,OM,TM,ScheduleNonAdhere,Latelogins,schedulehours,shift_adherence,Throughout,UnplannedLeave,PlannnedLeave
0,27,MAA,mnagal,radhikac,rbbashee,danijos,10.38,44,1032.0,98.99,59582,1.0,0.0
1,27,MAA,mnagal,radhikac,rbbashee,dmaniva,10.36,106,1222.5,99.15,48940,5.5,2.0
2,27,MAA,mnagal,radhikac,rbbashee,paramss,0.21,17,1136.0,99.98,68944,14.5,1.0
3,27,MAA,mnagal,radhikac,rbbashee,sarselv,0.15,71,1264.0,99.99,732,6.0,0.5
4,27,MAA,mnagal,radhikac,rbbashee,susriram,0.01,18,200.0,100.00,6978,5.0,0.0