In [1]:
##view RAW Data
import pandas as pd
import numpy as np
df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\AWS SAMMI Reports\AWS  Quality Data dump\AWS Verification Quality Quip RAW_Week 16.xlsx',)
df.head()

,Date,User ID,Queue Name,Audio Length,Section,First Segment TimeStamp,Last Segment TimeStamp,File Theme,Transcribed Content,Verified Content,Error Categorization,Sub-categorization,Comments,Total Opportunities,Total Defects
0,2021-04-20,cliffpal,verify 1,00:50:09.733,Middle,NaN,NaN,Podcast,"So I dn't, she din't cout it all up. Her husbn...","So I dn't, she din't cout it all up. Her husbn...",NaN,NaN,NaN,34.0,0.0
1,2021-04-20,cliffpal,verify 1,00:50:09.733,Middle,NaN,NaN,Podcast,Oh.,Oh.,NaN,NaN,NaN,1.0,0.0
2,2021-04-20,cliffpal,verify 1,00:50:09.733,Middle,NaN,NaN,Podcast,Oh that's very diffeent than ne mal. I'm like.,Oh that's very diffeent than ne mal. I'm like.,NaN,NaN,NaN,9.0,0.0
3,2021-04-20,cliffpal,verify 1,00:50:09.733,Middle,NaN,NaN,Podcast,Oh.,Oh.,NaN,NaN,NaN,1.0,0.0
4,2021-04-20,cliffpal,verify 1,00:50:09.733,Middle,NaN,NaN,Podcast,(()) yea. [laugh],(()) yea. [laugh],NaN,NaN,NaN,3.0,0.0

In [2]:
print('sss')

sss

In [3]:
##add new column EC count and map the ECs to value 1..we do this to text to integer conversion to autocount in the pivot
df.insert(4, "EC Count", 1)
df.head()

,Date,User ID,Queue Name,Audio Length,EC Count,Section,First Segment TimeStamp,Last Segment TimeStamp,File Theme,Transcribed Content,Verified Content,Error Categorization,Sub-categorization,Comments,Total Opportunities,Total Defects
0,2021-04-20,cliffpal,verify 1,00:50:09.733,1,Middle,NaN,NaN,Podcast,"So I dn't, she din't cout it all up. Her husbn...","So I dn't, she din't cout it all up. Her husbn...",NaN,NaN,NaN,34.0,0.0
1,2021-04-20,cliffpal,verify 1,00:50:09.733,1,Middle,NaN,NaN,Podcast,Oh.,Oh.,NaN,NaN,NaN,1.0,0.0
2,2021-04-20,cliffpal,verify 1,00:50:09.733,1,Middle,NaN,NaN,Podcast,Oh that's very diffeent than ne mal. I'm like.,Oh that's very diffeent than ne mal. I'm like.,NaN,NaN,NaN,9.0,0.0
3,2021-04-20,cliffpal,verify 1,00:50:09.733,1,Middle,NaN,NaN,Podcast,Oh.,Oh.,NaN,NaN,NaN,1.0,0.0
4,2021-04-20,cliffpal,verify 1,00:50:09.733,1,Middle,NaN,NaN,Podcast,(()) yea. [laugh],(()) yea. [laugh],NaN,NaN,NaN,3.0,0.0

In [4]:
df['EC Count'].count

<bound method Series.count of 0      1
1      1
2      1
3      1
4      1
      ..
816    1
817    1
818    1
819    1
820    1
Name: EC Count, Length: 821, dtype: int64>

In [5]:
##view pivot
table = pd.pivot_table(df, values=['EC Count'], index=['User ID'], columns= ['Date'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
## display all options
pd.set_option('display.max_rows', df.shape[0]+1)
table

           EC Count
Date     2021-04-20 2021-04-21
User ID
cliffpal         38         43
dennypau         54         86
devarapr         63         77
djaga           111          0
gopinana         33         30
jhus             31         47
keerdoss         31         66
nvemn            18          0
pdikcha           0         93

In [6]:
##to inidivually spot user ID for mails
table.index[0]

'cliffpal'

In [7]:
##email to POCs/TM
import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
mail = outlook.CreateItem(0)
for i in 
mail.Subject = 'Hi'
mail.Body = 'Please find the AWS Transcribe Quality Sampling'
#mail.HTMLBody = '<h2>This is a test message sss</h2>' #this field is optional
for column in table.iterrows():
   mail.To = 'arvinmvn@amazon.com'
 # mail.CC = 'keerdoss@amazon.com'
mail.HTMLBody = '''<h3>Please find your sampling contributions from the quality quip, attached below.</h3>
                   {}'''.format(table[:1].to_html())

# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

mail.Send()

In [8]:
##for bulk email 
import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Verification Sampling Report'


    mail.To = str(table.index[i])+'@amazon.com'
    mail.CC = 'thenmozs@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find the sampled counts for the week.</h3>
                   {}'''.format(table[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

('Quality Quip', 'dennypau')