In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [2]:
df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\AWS SAMMI Reports\AWS Verification Quality Generation Program\AWS Verification Quality Generation Master File.xlsx')
df.head()

,week,Date,user ID,link,file size,TC,VC,error categorization,sub categorization,comments,Total Opportunities,Total Defects
0,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,"Andy Jassy, Senior Vice President [breath] of ...","Andy Jassy, Senior Vice President [breath] of ...",NaN,NaN,NaN,22.0,0.0
1,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,I'm delighted to have Andy here and I've got t...,I'm delighted to have Andy here and I've got t...,NaN,NaN,NaN,43.0,0.0
2,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,We're actually gonna get a little bit behind t...,We're actually gonna get a little bit behind t...,NaN,NaN,NaN,55.0,0.0
3,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,"So, we thought today we'd actually share that ...","So, we thought today we'd actually share that ...",NaN,NaN,NaN,20.0,0.0
4,38,22/9/2021,dennypau,https://broadcast.amazon.com/videos/179303,00:14:21,So what mechanisms do we have to notify oursel...,So what mechanisms do we have to notify oursel...,NaN,NaN,NaN,43.0,0.0

In [3]:
table_opportunties= pd.pivot_table(df, values=['Total Opportunities'],
                         index=['user ID'], 
                         columns= [] ,margins=False,
                         margins_name='total', aggfunc=sum , fill_value=0)
pd.set_option('display.max_rows', df.shape[0]+1)
table_opportunties

table_defects= pd.pivot_table(df, values=['Total Defects'],
                         index=['user ID'], 
                         columns= [] ,margins=False,
                         margins_name='total', aggfunc=sum , fill_value=0)
pd.set_option('display.max_rows', df.shape[0]+1)
table_defects

          Total Defects
user ID
cliffpal              0
dennypau              0
djaga                 1
gopinana              0
jhus                  2
mhaaami               0
mmzsai               12
ntox                 16
pdikcha               0
vsreevat              7

In [4]:
df_SQL = df.rename(columns = {'week': 'week',
                          'Date': 'Date',
                           'user ID' :'userID',
                            'Workflow' :'Work',
                             'file size':'filesize',
                              'TC':'TC',
                              'VC':'VC',
                          'error categorization': 'errorcategorization',
                           'sub categorization': 'subcategorization','Total Opportunities': 'TotalOpportunities',
                          'Total Defects': 'TotalDefects',}, inplace = False)
df_SQL.head()

,week,Date,userID,link,filesize,TC,VC,errorcategorization,subcategorization,comments,TotalOpportunities,TotalDefects
0,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,"Andy Jassy, Senior Vice President [breath] of ...","Andy Jassy, Senior Vice President [breath] of ...",NaN,NaN,NaN,22.0,0.0
1,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,I'm delighted to have Andy here and I've got t...,I'm delighted to have Andy here and I've got t...,NaN,NaN,NaN,43.0,0.0
2,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,We're actually gonna get a little bit behind t...,We're actually gonna get a little bit behind t...,NaN,NaN,NaN,55.0,0.0
3,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,"So, we thought today we'd actually share that ...","So, we thought today we'd actually share that ...",NaN,NaN,NaN,20.0,0.0
4,38,22/9/2021,dennypau,https://broadcast.amazon.com/videos/179303,00:14:21,So what mechanisms do we have to notify oursel...,So what mechanisms do we have to notify oursel...,NaN,NaN,NaN,43.0,0.0

In [5]:
from pathlib import Path
Path('aws_verification_quality_summary.db').touch()

In [5]:
## connect to local

conn = sql.connect('aws_verification_quality_summary.db')
c = conn.cursor()

In [6]:
## Read SQL Data frame

df_SQL.to_sql('aws_verification_quality_summary_db_table', conn, if_exists='append', index=False)
df_SQL.head()

,week,Date,userID,link,filesize,TC,VC,errorcategorization,subcategorization,comments,TotalOpportunities,TotalDefects
0,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,"Andy Jassy, Senior Vice President [breath] of ...","Andy Jassy, Senior Vice President [breath] of ...",NaN,NaN,NaN,22.0,0.0
1,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,I'm delighted to have Andy here and I've got t...,I'm delighted to have Andy here and I've got t...,NaN,NaN,NaN,43.0,0.0
2,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,We're actually gonna get a little bit behind t...,We're actually gonna get a little bit behind t...,NaN,NaN,NaN,55.0,0.0
3,38,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,"So, we thought today we'd actually share that ...","So, we thought today we'd actually share that ...",NaN,NaN,NaN,20.0,0.0
4,38,22/9/2021,dennypau,https://broadcast.amazon.com/videos/179303,00:14:21,So what mechanisms do we have to notify oursel...,So what mechanisms do we have to notify oursel...,NaN,NaN,NaN,43.0,0.0

In [10]:
## Quality Query

sql='''

Select 
Week,
date,
userid,
sum(totalopportunities) as opportunities,
sum(totaldefects) as defects,100*(round(1 - sum(totaldefects)/sum(totalopportunities),4)) as Quality

from aws_verification_quality_summary_db_table
where userID !='NA'
group by week,date,userid

''';

    
df_sql = pd.read_sql_query(sql,conn)
df_sql.head(100)

    week       Date    userID  opportunities  defects  Quality
0     38  22/9/2021  cliffpal          140.0      0.0   100.00
1     38  22/9/2021  dennypau           78.0      0.0   100.00
2     38  22/9/2021     djaga           85.0      0.0   100.00
3     38  22/9/2021  gopinana           48.0      0.0   100.00
4     38  22/9/2021      jhus          148.0      0.0   100.00
5     38  22/9/2021   mhaaami          151.0      0.0   100.00
6     38  22/9/2021    mmzsai           70.0      0.0   100.00
7     38  22/9/2021      ntox           52.0      7.0    86.54
8     38  22/9/2021  vsreevat           95.0      4.0    95.79
9     38  23/9/2021  cliffpal           79.0      0.0   100.00
10    38  23/9/2021  dennypau          102.0      0.0   100.00
11    38  23/9/2021     djaga           68.0      0.0   100.00
12    38  23/9/2021      jhus          137.0      1.0    99.27
13    38  23/9/2021   mhaaami           77.0      0.0   100.00
14    38  23/9/2021    mmzsai          114.0     10.0    91.23
15    38  23/9/2021      ntox           77.0      6.0    92.21
16    38  23/9/2021  vsreevat          121.0      1.0    99.17
17    38  24/9/2021  cliffpal          188.0      0.0   100.00
18    38  24/9/2021  dennypau          121.0      0.0   100.00
19    38  24/9/2021     djaga          107.0      1.0    99.07
20    38  24/9/2021  gopinana           41.0      0.0   100.00
21    38  24/9/2021      jhus          283.0      0.0   100.00
22    38  24/9/2021    mmzsai          117.0      0.0   100.00
23    38  24/9/2021      ntox           67.0      2.0    97.01
24    38  24/9/2021   pdikcha           47.0      0.0   100.00
25    38  24/9/2021  vsreevat          149.0      2.0    98.66
26    38  25/9/2021  cliffpal          167.0      0.0   100.00
27    38  25/9/2021  dennypau           66.0      0.0   100.00
28    38  25/9/2021     djaga          115.0      0.0   100.00
29    38  25/9/2021  gopinana           82.0      0.0   100.00
30    38  25/9/2021      jhus          250.0      1.0    99.60
31    38  25/9/2021    mmzsai          130.0      2.0    98.46
32    38  25/9/2021      ntox           71.0      1.0    98.59
33    38  25/9/2021   pdikcha           65.0      0.0   100.00
34    38  25/9/2021  vsreevat          150.0      0.0   100.00

In [12]:
list= df_sql['userID'].unique()
len(list)

10

In [13]:
import win32com.client as win32
for i in range(0,len(list)):
    table_sss = pd.pivot_table(df_sql[df_sql['userID']== list[i]], values=['opportunities', 'defects','Quality'], index=['userID','Date'], columns= [] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
## display all options
    pd.set_option('display.max_rows', df.shape[0]+1)
    #print(table_sss)
    ##email to DAs :- one click still in pipeline

    outlook = win32.Dispatch('outlook.application')
    mail = outlook.CreateItem(0)
    mail.Subject = 'AWS Verification Quality Report'
    #mail.To='arvinmvn@amazon.com'
    mail.To = list[i]+'@amazon.com'  
    mail.CC = 'czvij@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find your quality for the week.</h3>
                   {}'''.format(table_sss.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [13]:
## Overturns Query

overturn_sql='''

Select 
Week,date,userid,link,filesize,TC,VC,errorcategorization,subcategorization,comments

from aws_verification_quality_summary_db_table
where errorcategorization !='NA' and userID !='NA'


''';

    
df_overturn_sql = pd.read_sql_query(overturn_sql,conn)
df_overturn_sql.head()

,week,Date,userID,link,filesize,TC,VC,errorcategorization,subcategorization,comments
0,38,22/9/2021,ntox,https://broadcast.amazon.com/videos/91748,00:51:39.000000,#um We are product focus and #uh you know prod...,#um We are product focus and #uh you know prod...,Listening,Wrong Words,"wrong words, missing words"
1,38,22/9/2021,ntox,https://broadcast.amazon.com/videos/91748,00:51:39.000000,But also our our partners the thirty party we ...,But also our our partners the third parties we...,Listening,Wrong Words,None
2,38,22/9/2021,vsreevat,https://broadcast.amazon.com/videos/124743,00:27:08.000000,Hi there and welcome to this presentation on D...,Hi there and welcome to this presentation Data...,Listening,Extra Words,"extra word,wrong words,missing words"
3,38,23/9/2021,jhus,https://broadcast.amazon.com/videos/133367,00:22:20.000000,So the <initial>AWS</initial> Solutions progra...,So the <initial>AWS</initial> Solutions progra...,Convention,Capitalization,None
4,38,23/9/2021,mmzsai,https://broadcast.amazon.com/videos/198510,01:29:51.000000,Do you know when ten years is coming,Do you know if Antonio is coming?,Listening,Wrong Words,None

In [20]:
list= df_overturn_sql['userID'].unique()
len(list)

4

In [14]:
import win32com.client as win32
for i in range(0,len(list)):
    
## display all options
   
    #print(table_sss)
    ##email to DAs :- one click still in pipeline

    outlook = win32.Dispatch('outlook.application')
    mail = outlook.CreateItem(0)
    mail.Subject = 'AWS Verification Overturns Report'
    #mail.To='arvinmvn@amazon.com'
    mail.To = list[i]+'@amazon.com'  
    mail.CC = 'czvij@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find your quality for the week.</h3>
                   {}'''.format(df_overturn_sql[df_overturn_sql['userID']==list[i]].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()