In [53]:
## Import Liberaries
import pandas as pd
import numpy as np
df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\AWS SAMMI Reports\Dashboard\AWS Verification Scorecard-RAW June.xlsx')
df.head()

,Week,User ID,Processed Hours,Total Autolog,Processed Minutes in MilliSeconds(*60*1000),Auto Log in milliSeconds (3600*1000),Aht= ( Autolog in millieseconds)/(Processed hours in millieseconds),Encryption Score,Overturn %,2nd Skill,Unnamed: 10
0,23,cliffpal,119.853,29.1158,7191180.0,104816880.0,14.575755,9.923690,0.013677,NaN,NaN
1,23,dennypau,152.938,32.1200,9176280.0,115632000.0,12.601185,8.588488,0.012253,Yes,NaN
2,23,devarapr,88.252,25.9631,5295120.0,93467160.0,17.651566,10.705019,0.023112,NaN,NaN
3,23,djaga,146.316,32.7837,8778960.0,118021320.0,13.443656,9.741136,0.024629,NaN,NaN
4,23,gopinana,126.136,32.1347,7568160.0,115684920.0,15.285739,9.032145,0.015949,NaN,NaN

In [54]:
##Rename the columns
df = df.rename(columns = {'Aht=  ( Autolog in millieseconds)/(Processed hours in millieseconds)': 'AHT','Encryption Score': 'ES'}, inplace = False)
df.head()

,Week,User ID,Processed Hours,Total Autolog,Processed Minutes in MilliSeconds(*60*1000),Auto Log in milliSeconds (3600*1000),AHT,ES,Overturn %,2nd Skill,Unnamed: 10
0,23,cliffpal,119.853,29.1158,7191180.0,104816880.0,14.575755,9.923690,0.013677,NaN,NaN
1,23,dennypau,152.938,32.1200,9176280.0,115632000.0,12.601185,8.588488,0.012253,Yes,NaN
2,23,devarapr,88.252,25.9631,5295120.0,93467160.0,17.651566,10.705019,0.023112,NaN,NaN
3,23,djaga,146.316,32.7837,8778960.0,118021320.0,13.443656,9.741136,0.024629,NaN,NaN
4,23,gopinana,126.136,32.1347,7568160.0,115684920.0,15.285739,9.032145,0.015949,NaN,NaN

In [55]:
##Change overturn % to percent

for i in range(0,len(df)):
    df['Overturn %'].values[i]=100*(df['Overturn %'].values[i])
df.head()

,Week,User ID,Processed Hours,Total Autolog,Processed Minutes in MilliSeconds(*60*1000),Auto Log in milliSeconds (3600*1000),AHT,ES,Overturn %,2nd Skill,Unnamed: 10
0,23,cliffpal,119.853,29.1158,7191180.0,104816880.0,14.575755,9.923690,1.367701,NaN,NaN
1,23,dennypau,152.938,32.1200,9176280.0,115632000.0,12.601185,8.588488,1.225259,Yes,NaN
2,23,devarapr,88.252,25.9631,5295120.0,93467160.0,17.651566,10.705019,2.311161,NaN,NaN
3,23,djaga,146.316,32.7837,8778960.0,118021320.0,13.443656,9.741136,2.462888,NaN,NaN
4,23,gopinana,126.136,32.1347,7568160.0,115684920.0,15.285739,9.032145,1.594896,NaN,NaN

In [56]:
## Pivot Data
table = pd.pivot_table(df[df['Week']==25], values=['Processed Hours','AHT','ES','Overturn %'], index=['User ID'],margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
table.round(2)

            AHT     ES  Overturn %  Processed Hours
User ID
cliffpal  15.01   7.96        1.26           125.77
dennypau  12.11  11.50        1.17           200.86
devarapr  13.97  10.26        1.44           136.27
djaga     11.94   6.99        2.06           140.39
gopinana  13.88   9.42        4.30           170.73
jhus      14.85   6.33        2.08           149.24
keerdoss  18.93   8.90        4.60           112.59
mhaaami   14.41   8.84        5.16           127.82
ntox      12.41  15.49        0.21           151.50
nvemn     14.10  10.72        4.34            89.99
pdikcha   14.05   9.17        3.00           165.99

In [60]:
## bulk mail for hourly processed coint (hourly velocity)

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Verification Performance Summary Report'
    
    
    mail.To = str(table.index[i])+'@amazon.com' 
    mail.CC = 'dmaniva@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find your AWS Verification Performance Summary for the week.</h3>
                   {}'''.format(table.round(2)[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [ ]:
## bulk mail for hourly processed coint (hourly velocity)

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table_velocity)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Velocity Verification Report'


    mail.To = str(table_final.index[i])+'@amazon.com' 
    mail.CC = 'dmaniva@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find velocity per hour for the week.</h3>
                   {}'''.format(table[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()