In [12]:
##import liberaries
import pandas as pd
import numpy as np
import datetime as dt
df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\AWS SAMMI Reports\AWS Verification Velocity Report\Velocity Automation.xlsx',)
df.head()

,User ID,Audio Duration\r\n(HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File_Status(Completed/In Progress)
0,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-19,2021-02-20,00:19:29,Completed
1,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-20,2021-02-20,00:50:08.820000,Completed
2,arvinmvn,00:02:46.560000,Customer_Care,Insurance,3,2021-02-20,2021-02-20,2021-02-20,00:02:46.560000,Completed
3,arvinmvn,00:00:55.082000,Customer_Care,Insurance,1,2021-02-20,2021-02-20,2021-02-20,00:00:55.082000,Completed
4,arvinmvn,00:00:19.560000,Others,Others,1,2021-02-20,2021-02-20,2021-02-20,00:00:19.560000,Completed

In [13]:
#insert processed hours column
df.insert(9, "File compare","")
df.insert(10, "Processed Hours","")
df.head()

,User ID,Audio Duration\r\n(HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File compare,Processed Hours,File_Status(Completed/In Progress)
0,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-19,2021-02-20,00:19:29,,,Completed
1,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-20,2021-02-20,00:50:08.820000,,,Completed
2,arvinmvn,00:02:46.560000,Customer_Care,Insurance,3,2021-02-20,2021-02-20,2021-02-20,00:02:46.560000,,,Completed
3,arvinmvn,00:00:55.082000,Customer_Care,Insurance,1,2021-02-20,2021-02-20,2021-02-20,00:00:55.082000,,,Completed
4,arvinmvn,00:00:19.560000,Others,Others,1,2021-02-20,2021-02-20,2021-02-20,00:00:19.560000,,,Completed

In [15]:
## compare Audio length and previous audio length. for example 2nd row is compared to 1st row, if match true is returned in the second column

df['File compare'] = df['Audio Duration\r\n(HH:MM:SS.mss)'].eq(df['Audio Duration\r\n(HH:MM:SS.mss)'].shift())

df.head()

,User ID,Audio Duration\r\n(HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File compare,Processed Hours,File_Status(Completed/In Progress)
0,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-19,2021-02-20,00:19:29,False,,Completed
1,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-20,2021-02-20,00:50:08.820000,True,,Completed
2,arvinmvn,00:02:46.560000,Customer_Care,Insurance,3,2021-02-20,2021-02-20,2021-02-20,00:02:46.560000,False,,Completed
3,arvinmvn,00:00:55.082000,Customer_Care,Insurance,1,2021-02-20,2021-02-20,2021-02-20,00:00:55.082000,False,,Completed
4,arvinmvn,00:00:19.560000,Others,Others,1,2021-02-20,2021-02-20,2021-02-20,00:00:19.560000,False,,Completed

In [16]:
## change the true or false to 1 or 0, match is true, mismatch is false
for column in df['File compare']:
    df['File compare'] = df['File compare'].replace(True,1)
    df['File compare'] = df['File compare'].replace(False,0) 
df.head()

,User ID,Audio Duration\r\n(HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File compare,Processed Hours,File_Status(Completed/In Progress)
0,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-19,2021-02-20,00:19:29,0.0,,Completed
1,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-20,2021-02-20,00:50:08.820000,1.0,,Completed
2,arvinmvn,00:02:46.560000,Customer_Care,Insurance,3,2021-02-20,2021-02-20,2021-02-20,00:02:46.560000,0.0,,Completed
3,arvinmvn,00:00:55.082000,Customer_Care,Insurance,1,2021-02-20,2021-02-20,2021-02-20,00:00:55.082000,0.0,,Completed
4,arvinmvn,00:00:19.560000,Others,Others,1,2021-02-20,2021-02-20,2021-02-20,00:00:19.560000,0.0,,Completed

In [17]:
##Working code ..SSS!!!!, the processed audio hours is show in minutes

## if validation = false, then they are two different files so File length = processed length, else processed length = audio length - completed length
#df.head() 
for i in range(len(df)):
        if df['File compare'][i] == 1.0:    
            #df['Processed Hours'][i]= pd.to_datetime(df['Audio Duration\r\n(HH:MM:SS.mss)'][i]) - pd.to_datetime(df['Completed Duration (HH:MM:SS.mss)'][i])
            # df['Column'].values[i] 
           # df['Processed Hours'][i]= df['Number Of Speakers'][i]
            sh = str(df['Completed Duration (HH:MM:SS.mss)'].values[i])
            sv=  str(df['Completed Duration (HH:MM:SS.mss)'].values[i-1])
            h,m,s = sh.split(':' or '.')
            p,r,b = sv.split(':' or '.')
            df['Processed Hours'][i]= float(dt.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds()/60)- float(dt.timedelta(hours=int(p),minutes=int(r),seconds=float(b)).total_seconds()/60)
            i=i+1
            # print('hi')                       
           
        else:
            iv = str(df['Completed Duration (HH:MM:SS.mss)'].values[i])
            a,k,y = iv.split(':' or '.')
            
            df['Processed Hours'][i]= float(dt.timedelta(hours=int(a),minutes=int(k),seconds=float(y)).total_seconds()/60)
            i=i+1
             #print('hie i am 1')


df.head()

<ipython-input-17-a2f5cb2c11a0>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Processed Hours'][i]= float(dt.timedelta(hours=int(a),minutes=int(k),seconds=float(y)).total_seconds()/60)
<ipython-input-17-a2f5cb2c11a0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Processed Hours'][i]= float(dt.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds()/60)- float(dt.timedelta(hours=int(p),minutes=int(r),seconds=float(b)).total_seconds()/60)

,User ID,Audio Duration\r\n(HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File compare,Processed Hours,File_Status(Completed/In Progress)
0,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-19,2021-02-20,00:19:29,0.0,19.4833,Completed
1,arvinmvn,00:50:08.820000,Customer_Care,Others,3,2021-02-19,2021-02-20,2021-02-20,00:50:08.820000,1.0,30.6637,Completed
2,arvinmvn,00:02:46.560000,Customer_Care,Insurance,3,2021-02-20,2021-02-20,2021-02-20,00:02:46.560000,0.0,2.776,Completed
3,arvinmvn,00:00:55.082000,Customer_Care,Insurance,1,2021-02-20,2021-02-20,2021-02-20,00:00:55.082000,0.0,0.918033,Completed
4,arvinmvn,00:00:19.560000,Others,Others,1,2021-02-20,2021-02-20,2021-02-20,00:00:19.560000,0.0,0.326,Completed

In [26]:
print('sss')

sss

In [11]:
## view pivot
table = pd.pivot_table(df[(df["Week"]) == 10], values=['Processed Hours'], index=['User ID'], columns= ['Entry Date'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
table

           Processed Hours                                              \
Entry Date      2021-03-06 2021-03-09 2021-03-10 2021-03-11 2021-03-12
User ID
dennypau             0.000  16.673567  46.428567  39.075117  39.083533
devarapr             0.000   0.000000  27.325250  40.042767   0.000000
djaga                0.000   0.000000   0.000000   0.000000  32.193300
gopinana             0.000   0.000000   0.000000   0.000000  21.951050
jhus                 0.000  32.481800  35.326517   0.000000  13.038367
keerdoss             0.000  15.667583  93.659833   1.551033   0.913767
mhaaami              0.000  24.666917  55.993350   5.817450   0.000000
nvemn                0.379  19.311500   0.000000   0.000000  61.150183
pdikcha              0.000   1.877467   0.000000   0.000000   0.000000
ranrm                0.000   1.162800   1.009283   0.000000  80.569467


Entry Date 2021-03-13
User ID
dennypau    33.697733
devarapr     0.000000
djaga       27.075250
gopinana     4.886667
jhus        60.691733
keerdoss    55.719833
mhaaami      0.000000
nvemn       28.736133
pdikcha      0.000000
ranrm       15.729033

In [7]:
##for bulk email 
import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Velocity Verifiction Automation Report'


    mail.To = str(table.index[i])+'@amazon.com' 
#mail.CC = 'thenmozs@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find processed ours for the week.</h3>
                   {}'''.format(table[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [8]:
#sharepoint acess
df1= pd.read_excel(r'Z:\denypau.xlsx')

df1= pd.read_excel(r'Z:\denypau.xlsx')
df2= pd.read_excel(r'Z:\cliffpal.xlsx')
all_df_list = [df1,df2]
appended_df = pd.concat(all_df_list)
#appended_df.to_excel("AllCompanyNames.xlsx", index=False
appended_df
#df3 = df1.merge(df2, on = "User ID",  how = "left")

FileNotFoundError: [Errno 2] No such file or directory: 'Z:\\denypau.xlsx'

In [7]:
##test pivot to see if all the DAs are mapped

table = pd.pivot_table(appended_df, values=['Number Of Speakers'], index=['User ID'], columns= ['Entry Date'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
table

NameError: name 'appended_df' is not defined

In [ ]:
##(time value function):- sample logic code

t = str(df['Audio Duration\r\n(HH:MM:SS.mss)'].values[2])
h,m,s = t.split(':' or '.')
sss= str(dt.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds()/60)
print ("total minutes processed:",sss)

In [ ]:
##copy of yesterda'ys work:- sample logic code

##Working code ..SSS!!!!, tomo goal is to automate the derived integer format in hh:mm:ss.000

## if validation = false, then they are two different files so File length = processed length, else processed length = audio length - completed length
#df.head() 
for i in range(len(df)):
        if df['File compare'][i] == 0.0:
             #df['Processed Hours'][i]= df['Audio Duration\r\n(HH:MM:SS.mss)'][i].subtract(df['Completed Duration (HH:MM:SS.mss)'])[i]
            # df['Column'].values[i] 
            df['Processed Hours'][i]= df['Number Of Speakers'][i]
            i=i+1
            # print('hi')                       
           
        else:
            df['Processed Hours'][i]= df['Number Of Speakers'][i] *2
            i=i+1
             #print('hie i am 1')


df.head()