In [1]:
##test

In [23]:
import pandas as pd
import numpy as np
df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Testhruput.xlsx',)
df.head()

,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,ADS Hire Date,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,2021-07-10,HYD,5140,keerdoss,arvinmvn,rbbashee,rhuam,deepasac,Y,2020-08-03,...,0.00,1.00,0,0,0,0,9.833333,8,0.0,1.833333
1,2021-07-10,HYD,5140,keerdoss,arvinmvn,rbbashee,rhuam,deepasac,Y,2018-07-16,...,0.00,1.00,0,0,0,0,0.000000,0,0.0,0.000000
2,2021-07-20,HYD,5140,kumrpmk,arvinmvn,rbbashee,sonak,deepasac,Y,2018-03-26,...,1.05,1.05,0,489,0,0,9.042500,0,0.0,8.068889
3,2021-07-20,HYD,5140,keerdoss,arvinmvn,rbbashee,sonak,deepasac,Y,2018-07-02,...,0.00,1.00,0,0,0,0,9.996389,8,0.0,1.522500
4,2021-07-20,HYD,5140,keerdoss,arvinmvn,rbbashee,sonak,deepasac,Y,2019-02-25,...,0.00,1.00,0,0,0,0,0.000000,0,0.0,0.000000

In [24]:
## Data clean Date
df["Calendar Date"] = pd.to_datetime(df["Calendar Date"])

In [109]:
#df[(df["Level 1 Manager"]=='keerdoss') & (df["DA Alias"]=='arvinmvn')].head()

,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,ADS Hire Date,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
9,2021-07-10,HYD,5140,arvinmvn,keerdoss,rbbashee,sonak,deepasac,Y,2019-01-14,...,0.0,1.0,0,0,0,0,0.000,0,0.000000,0.000000
10,2021-07-10,HYD,5140,arvinmvn,keerdoss,rbbashee,shukavni,deepasac,Y,2020-08-03,...,0.0,1.0,0,0,0,0,8.780,8,0.196389,0.000000
11,2021-07-10,HYD,5140,arvinmvn,keerdoss,rbbashee,sonak,deepasac,Y,2019-01-14,...,0.0,1.0,0,1090,0,0,9.235,8,0.000000,0.335556
12,2021-07-10,HYD,5140,arvinmvn,keerdoss,rbbashee,shukavni,deepasac,Y,2019-07-29,...,0.0,1.0,0,0,0,0,0.000,0,0.000000,0.000000
13,2021-07-10,HYD,5140,arvinmvn,keerdoss,rbbashee,rhuam,deepasac,Y,2019-01-14,...,0.0,1.0,0,0,0,0,0.000,0,0.000000,0.000000

In [25]:
## DA filteration

table = pd.pivot_table(df[df['Level 2 Manager']=='rbbashee'], values=['Process Count','Logged in hrs'], index=['Level 1 Manager','DA Alias','Calendar Date'],margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
table

                                        Logged in hrs  Process Count
Level 1 Manager DA Alias Calendar Date
arvinmvn        keerdoss 2021-07-10         27.945556           1572
                         2021-07-20          9.996389              0
                kumrpmk  2021-07-20          9.042500            489
keerdoss        arvinmvn 2021-07-10         35.561111           2997
                         2021-07-21          0.000000              0
kumrpmk         arvinmvn 2021-07-10          9.235000           1090
                         2021-07-21          0.000000              0

In [26]:
##Handle multi indexing
list_tm= table.index.get_level_values('Level 1 Manager').unique()
list_tm
list_da= table.index.get_level_values('DA Alias')
list_da = list_da.tolist()
list_tm = list_tm.tolist()
list_tm

['arvinmvn', 'keerdoss', 'kumrpmk']

In [16]:
table.index.get_level_values('DA Alias')[0]

'keerdoss'

In [49]:
## filter sample with list
#df[(df["Level 1 Manager"]==list_da[0]) & (df["DA Alias"]==list_tm[0])].head()

In [41]:
## iterated pivot

#df[df['Level 2 Manager']=='rbbashee'] ## filter reshma's org

## TM List

#for i in range (0,len(table.index.get_level_values('Level 1 Manager').unique())):
    #list = ['danijos','dmaniva','paramss','sarselv','susriram'] 
    #df=df[df['Level 1 Manager']==list_tm[i]]
for j in range (0,len(table.index.get_level_values('DA Alias'))):
        
    table_updated = pd.pivot_table(df, values=['Process Count'], index=['Level 1 Manager','DA Alias'],columns=['Calendar Date'], margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)

    pd.set_option('display.max_rows', df.shape[0]+1)    
print(table_updated)

                         Process Count
Calendar Date               2021-07-10 2021-07-20 2021-07-21
Level 1 Manager DA Alias
arvinmvn        keerdoss          1572          0          0
                kumrpmk              0        489          0
keerdoss        arvinmvn          2997          0          0
kumrpmk         arvinmvn          1090          0          0

In [47]:
table_sss.columns[0]

('Process Count', 'arvinmvn')

In [42]:
##working prototype

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')

#list_da = df['DA Alias'].tolist()
#list_tm = df['Level 1 Manager'].unique()

    #list = ['danijos','dmaniva','paramss','sarselv','susriram'] 
    
for j in range (0,len(table_process_count.index.get_level_values('DA Alias'))):
    
    table_process_count = pd.pivot_table(df, values=['Process Count'], index=['Level 1 Manager','DA Alias'],columns=['Calendar Date'], margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
    
    table_loggedinhrs = pd.pivot_table(df, values=['Logged in hrs'], index=['Level 1 Manager','DA Alias'],columns=['Calendar Date'], margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)

    pd.set_option('display.max_rows', df.shape[0]+1)

    pd.set_option('display.max_rows', df.shape[0]+1)
    mail = outlook.CreateItem(0)

    mail.Subject = 'Test Report'
    mail.To = table_process_count.index.get_level_values('DA Alias')[j]+'@amazon.com' 
    mail.CC = table_process_count.index.get_level_values('Level 1 Manager')[j] + '@amazon.com'
        
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Test.</h3>
                   {}'''.format(table_process_count[j:j+1].to_html()) + '''<h3>Test.</h3>
                   {}'''.format(table_loggedinhrs[j:j+1].to_html())
    
    
    ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [191]:
## fixed CC variable to

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table_sss)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'Test Report'


    mail.To = str(table_sss.index[i])+'@amazon.com' 
    mail.CC = 'keerdoss@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Test.</h3>
                   {}'''.format(table_sss[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [8]:
## variable CC variable to

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for j in range(0,len(list_tm)):
    #list_tm[j]=df['Level 1 Manager'].unique()
    #df[df['Level 1 Manager']]=list[j]
    table = pd.pivot_table(df[df["Level 1 Manager"]==list_tm[j]], values= ['Process Count'], index=['DA Alias'], columns= ['Calendar Date'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
    #table_iv= pd.pivot_table(df[df['Level 1 Manager']==list[j]], values= ['Logged in hrs'], index=['DA Alias'], columns= ['Calendar Date'] ,margins=False,
     #          margins_name='total', aggfunc=sum , fill_value=0)
    pd.set_option('display.max_rows', df.shape[0]+1)
    for i in range(0,len(table)):
        mail = outlook.CreateItem(0)

        mail.Subject = 'Test Report'


        mail.To = str(table.index[i])+'@amazon.com' 
        mail.CC = str(list[j]) + '@amazon.com'
    
## i-> position of data in dataframe
        mail.HTMLBody = '''<h3>Test.</h3>
                   {}'''.format(table_sh[i:i+1].to_html())
    
    
    ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

        mail.Send()

TypeError: 'type' object is not subscriptable

In [ ]:
# v3  code works but biforcates all indexes

## variable CC variable to (working code not compatiable for multiple index values)

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')

#list_da = df['DA Alias'].tolist()
#list_tm = df['Level 1 Manager'].unique()

    #list = ['danijos','dmaniva','paramss','sarselv','susriram'] 
    
for j in range (0,len(list_da)):
        
    table_updated = pd.pivot_table(df, values=['Process Count','Logged in hrs'], index=['Level 1 Manager','DA Alias','Calendar Date'], margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)

    pd.set_option('display.max_rows', df.shape[0]+1)
    mail = outlook.CreateItem(0)

    mail.Subject = 'Test Report'
    mail.To = table_updated_bulkmail.index.get_level_values('DA Alias')[j]+'@amazon.com' 
    mail.CC = table_updated_bulkmail.index.get_level_values('Level 1 Manager')[j] + '@amazon.com'
        
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Test.</h3>
                   {}'''.format(table_updated_bulkmail[j:j+1].to_html())
    
    
    ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()