In [1]:
##test

In [204]:
import pandas as pd
import numpy as np
df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\ADS SM analysis\Testhruput.xlsx',)
df.head()

,Calendar Date,Site,Cost centre,DA Alias,Level 1 Manager,Level 2 Manager,Levle 3 Manager,Level 4 Manager,Is DA Employed,ADS Hire Date,...,Paid Break for OT,Total Paid Break,Unpaid break - Regular Shift,Process Count,Is on Planned Leave,Is on Unplanned leave,Logged in hrs,SA Schedule Hours,Schedule Non Adherence,Calculated OT Hours
0,2021-07-10,HYD,5140,keerdoss,arvinmvn,rbbashee,rhuam,deepasac,Y,2020-08-03,...,0.00,1.00,0,0,0,0,9.833333,8,0.0,1.833333
1,2021-07-10,HYD,5140,keerdoss,arvinmvn,rbbashee,rhuam,deepasac,Y,2018-07-16,...,0.00,1.00,0,0,0,0,0.000000,0,0.0,0.000000
2,2021-07-10,HYD,5140,keerdoss,arvinmvn,rbbashee,sonak,deepasac,Y,2018-03-26,...,1.05,1.05,0,489,0,0,9.042500,0,0.0,8.068889
3,2021-07-10,HYD,5140,keerdoss,kumrpmk,rbbashee,sonak,deepasac,Y,2018-07-02,...,0.00,1.00,0,0,0,0,9.996389,8,0.0,1.522500
4,2021-07-10,HYD,5140,kumrpmk,arvinmvn,rbbashee,sonak,deepasac,Y,2019-02-25,...,0.00,1.00,0,0,0,0,0.000000,0,0.0,0.000000

In [205]:
## Data clean Date
df["Calendar Date"] = pd.to_datetime(df["Calendar Date"])

In [206]:
## Pivot general for TM filteration
table = pd.pivot_table(df[df['Level 2 Manager']=='rbbashee'], values=['Process Count'], index=['Level 1 Manager','DA Alias'],margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
table.head()

                          Process Count
Level 1 Manager DA Alias
arvinmvn        keerdoss           2061
                kumrpmk               0
keerdoss        arvinmvn           2997
                kumrpmk            1090
kumrpmk         keerdoss              0

In [207]:
## create a list of TMs
for j in range (0,len(list)):
    #list = ['danijos','dmaniva','paramss','sarselv','susriram']
    list = ['arvinmvn','keerdoss','kumrpmk']
    print(list[j])

arvinmvn
keerdoss
kumrpmk

In [208]:
## Pivot general for DA alias

table_sss = pd.pivot_table(df[df['Level 2 Manager']=='rbbashee'], values=['Process Count'], index=['DA Alias'],margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
table_sss.round(2)

          Process Count
DA Alias
arvinmvn           2997
keerdoss           2061
kumrpmk            1090

In [209]:
## iterated pivot

#df[df['Level 2 Manager']=='rbbashee'] ## filter reshma's org

## TM List


for i in range (0,len(list)):
    #list = ['danijos','dmaniva','paramss','sarselv','susriram']
    list = ['arvinmvn','keerdoss','kumrpmk']
    table_sss= pd.pivot_table(df[df['Level 1 Manager']==list[i]], values= ['Process Count'], index=['DA Alias'], columns= ['Calendar Date'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
    pd.set_option('display.max_rows', df.shape[0]+1)
    print(table_sss)

              Process Count
Calendar Date    2021-07-10
DA Alias
keerdoss               2061
kumrpmk                   0
              Process Count
Calendar Date    2021-07-10
DA Alias
arvinmvn               2997
kumrpmk                1090
              Process Count
Calendar Date    2021-07-10
DA Alias
keerdoss                  0

In [210]:
## variable CC variable to

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for j in range(0,len(list)):
    list=['arvinmvn','keerdoss','kumrpmk']
    df[df['Level 1 Manager']]=list[j]
    table_sss= pd.pivot_table(df[df['Level 1 Manager']==list[j]], values= ['Process Count'], index=['DA Alias'], columns= ['Calendar Date'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
    pd.set_option('display.max_rows', df.shape[0]+1)
    for i in range(0,len(table_sss)):
        mail = outlook.CreateItem(0)

        mail.Subject = 'Test Report'


        mail.To = str(table_sss.index[i])+'@amazon.com' 
        mail.CC = list[j] + '@amazon.com'
    
## i-> position of data in dataframe
        mail.HTMLBody = '''<h3>Test.</h3>
                   {}'''.format(table_sss[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

        mail.Send()

In [191]:
## fixed CC variable to

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table_sss)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'Test Report'


    mail.To = str(table_sss.index[i])+'@amazon.com' 
    mail.CC = 'keerdoss@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Test.</h3>
                   {}'''.format(table_sss[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()